<div class="cart-drawer-wrapper">
<div class="cart-drawer-closer"></div>
<div class="" id="cart-drawer" data-section-id="{{ section.id }}" data-section-type="cart-template">
<a style="float:right;" href="#" id="close_drawer"><span>X</span></a>
    <div class="section-header text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
    </div>
    <form action="/cart" method="post" novalidate class="cart">
        <div id="cart-drawer-inner">
        </div>
      <div class="cart__footer">
        <div class="grid">
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}

            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}
            <div class="cart__shipping rte">{{ taxes_shipping_checkout }}</div>
            <div class="cart__submit-controls">
              <!-- <a href="collections/all" class="btn btn--secondary cart__continue small--hide cart__submit-control" >
                {{ 'cart.general.continue_shopping' | t }}
              </a> -->
              <a id="continue-shopping" href="/collections/all" title="Continue shopping" class="btn btn--secondary cart__continue small--hide cart__submit-control" >Continue Shopping</a>
              {% comment %} <input type="submit" name="update"
                class="btn btn--secondary small--hide cart__submit-control"
                value="{{ 'cart.general.update' | t }}"> {% endcomment %}
              <input type="submit" name="checkout"
                class="btn btn--small-wide cart__submit cart__submit-control"
                value="{{ 'cart.general.checkout' | t }}">
            </div>
            <p style="margin-top: 4em;" class="text-orange text-right">Free shipping when you order 3+ teas.</p>
            {% comment %} {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %} {% endcomment %}
          </div>
        </div>
      </div>
    </form>
</div>
</div>
{% include 'ajax-cart-template' %}
<script type="text/javascript">
$('#close_drawer').click(function(e){
    e.preventDefault();
    $('.cart-drawer-wrapper').removeClass('show');
    $('#cart-drawer').removeClass('show');

});
$('.cart-drawer-closer').click(function(e){
    e.preventDefault();
    $('#cart-drawer').removeClass('show');
    $('.cart-drawer-wrapper').removeClass('show');
});

</script>
