{%- assign img_url = section.settings.insert_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<a href="/pages/make-it-a-threesome">
<div class="grid-view-item collection-view-insert" style="height: 100%; width: 100%;">
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    <div style="position:relative; padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
    <img id="{{ img_id }}"
        class="grid-view-item__image lazyload"
        src="{{ section.settings.insert_image.src | img_url: '300x300' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ section.settings.insert_image.aspect_ratio }}"
        data-sizes="auto"
        alt="">
    </div>
  </div>
</div>
</a>