{% for variant in product.variants %}
{% if variant.title contains "Sample" %}
  {%- assign current_variant = variant -%}
{% else %}
{%- assign full_size = variant -%}
{% endif %}
{% endfor %}
{% comment %} {% for tag in product.tags %}
    {% if tag contains "sample" %}
        {% assign product_tag = tag %}
    {% endif %}
{% endfor %}
{% for full_product in collections.singles.products %}
    {% for tag in full_product.tags %}
        {% if tag == product_tag and full_product.available %}
            {% assign full_size = full_product.selected_or_first_available_variant.id %}
        {% endif %}
    {% endfor %}
{% endfor %} {% endcomment %}
<div class="grid-view-item  hover_{{product.id}} {% unless product.available %} grid-view-item--sold-out{% endunless %} product-card" onClick='addProduct("{{ current_variant.id }}", "{{full_size.id}}", "{{ product.id }}");'>
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {% unless product.featured_image == blank %}
    {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    {% include 'product-card-hover' %}
    <div style="position:relative; padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
      <img id="{{ img_id }}"
            class="grid-view-item__image lazyload"
            src="{{ product.featured_image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-sizes="auto"
            alt="">
    </div>
    <div class="flow-checkbox"><span id="checkbox_{{current_variant.id}}" class="checkmark">X</span></div>
  </div>
{% comment %} <img src="{{product.featured_image | img_url }}"/> {% endcomment %}
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>
    <div class="product-meta">
    <div class="details_{{product.id}}">
      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
        <div class="variant-details ">
        {% include 'product-tags' %}
          <p class="sachet-count">
            {% for tag in product.tags %}
            {% if tag contains 'sachets' %}
            {% assign tag_mod = tag | handle | remove: 'sachets-' | split: '-' %}
            {% for word in tag_mod %}{{ word }} {% endfor %}
            {% endif %}
            {% endfor %}
            <span class="sachet-info"></span>
          </p>
        </div>
      </div>
    </div>
    {% if page.url contains "threesome" or page.template_suffix contains "subscription-flow" %}
    {% assign page_toggle = true %}
    {% endif %}
    {% if page_toggle == true %}
    <div class="form_{{product.id}}" style="display: none;">
    <div style="width: 100%; text-align: center;">
      <button  style="margin: 1em auto 1em; max-width: 180px;" type="button" class="btn"  id="bundle_adder_{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %}><span id="AddToCartText-{{ section.id }}">
        {% unless current_variant.available %}
          {{ 'products.product.sold_out' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endunless %}
      </span></button>
    </div>
    </div>
    {% else %}
    <div class="form_{{product.id}}" style="display: none;">
      <form class="card-add-to-cart" action="/cart/add" data-productid="{{product.id}}"  method="post" style="display: flex; flex-direction: column;"{% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
        <input type="submit" value="Add To Cart" class="btn cart_updater" style="margin: -.5em 1em 1.5em;" {% unless current_variant.available %}disabled="disabled"{% endunless %}/>
      </form>
    </div>
    <div class="product__price price_hover_{{product.id}}">
      {% include 'product-price', variant: product %}
    </div>
    {% endif %}
    <script type="text/javascript">
    $( document ).ready(function(){
      $('.bg_hover_{{ product.id }}').hover(function() {
          $('#ProductCardImage--{{ product.id }}').addClass('blur');
          $('#ProductCardImage-featured-collections-{{ product.id }}').addClass('blur');
          $('.price_hover_{{ product.id }}').hide(0);
        }, function() {
          $('#ProductCardImage--{{ product.id }}').removeClass('blur');
          $('#ProductCardImage-featured-collections-{{ product.id }}').removeClass('blur');
          $('.price_hover_{{ product.id }}').show(0);
      });
    })
    </script>
</div>
{% comment %} 

        if (full_size_array.length == 3 ){
            async.each(full_size_array, function(id, next){
                CartJS.addItem(id, 1, {"Part of a Bundle": ""},{
                    "complete": function() {
                        console.log("2 complete!");
                    },
                    "success": function(data, textStatus, jqXHR){
                        next();
                    },
                    "error": function(jqhXHR, textStatus, errorThrown){
                        next(errorThrown);
                    },
                    async: true
                })
            },
            function(error){
                if (!error){
                    console.log("No Errors (2 of 2)");
                    subscriptionCart();
                }
            })
        } else {
            alert("Please add more items to your bundle (full_size)");
        };
 {% endcomment %}