{% if page.url contains "threesome" %}
<a href="#" {% if product.available %}onClick='addProduct("{{ product.id }}", "{{product.title | escape }}");'{% endif %}>
{% elsif page.template_suffix contains "flow" %}
{% else %}
<a id="mobile_toggle_{{product.id}}" href="{{ product.url | within: collection }}">
{% endif %}
{% assign size = product.images.size %}
{% comment %} {% for image in product.images %}
{% if forloop.rindex == 2 and product.images.size > 2 %}
  <div class='1 product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center'>
      <img class="lazyload"  data-src="{{ image | img_url: '500', scale: 1 }}"  style="width: 100%; position:absolute;"/>
  </div>
  {% break %}
{% else %}
  <div class='2 product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center'>
    <img class="lazyload"  data-src="{{ product.images.last | img_url: '500', scale: 1 }}"  style="width: 100%; position:absolute;"/>
  </div>
{% endif %}
{% endfor %} {% endcomment %}
{% comment %} <div class='1 product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center'>
      <img class="lazyload"  data-src="{{ image | img_url: '500', scale: 1 }}"  style="width: 100%; position:absolute;"/>
  </div> {% endcomment %}
{% unless page.template_suffix contains "flow" %}
</a>
{% endunless %}