

  {% if collection %}
    {{ 'Previous Product' | link_to: collection.previous_product }} |
    {{ 'Next Product' | link_to: collection.next_product }}

{% endif %}
  <p>{{ collection.products_count }}</p>
 <p>{{ collection.handle }}</p>
 <p>{{ collection.next_product.handle }}</p>
 <p>{{ collection.previous_product.handle }}</p>