<div class="grid-view-item  hover_{{product.id}} {% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {% capture sample_info %}
  {% include 'caffeine' %}
  {% assign words = product.description | split: "<!--notes-->" %}
  {{ words[1] }}
  {% endcapture %}
  {% capture hover_button %}
      <div class="mobile_form_target form_{{product.id}}" style="display: none;">
      {% if product.template_suffix contains 'samples' %}
        <form class="card-add-to-cart add_{{product.id}}" action="/cart/add" data-productid="{{product.id}}"  method="post" style="display: flex; flex-direction: column; margin-top: 8px;">
          <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
          <input type="submit" value="Add To Cart" class="btn cart_updater"/>
        </form>
      {% else %}
        <a href="{{ product.url | within: collection }}" style="display: flex; flex-direction: column;">
          <input type="submit" value="Discover" class="btn cart_updater" />
        </a>
      {% endif %}
    </div>
    {% endcapture %}

  {% unless product.featured_image == blank %}
    {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    <div class="sample-meta-mobile sample-meta-mobile_{{ product.id }}" style="display:none">
      {{ sample_info }}
    </div>
    {% include 'product-card-hover' %}
    <div style="position:relative; padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
      <img id="{{ img_id }}"
        class="grid-view-item__image lazyload"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
        data-sizes="auto"
        alt="">
    </div>
  </div>
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" data-src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>
  {% capture product_meta %}
  <div class="product-meta" style="position: relative">
    <div class="details_{{product.id}}">
      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
      <div class="yotpo-star-box yotpo">
        <div class="yotpo bottomLine"
          data-product-id="{{ product.id }}">
        </div>
      </div>
        <div class="variant-details row" style="margin-top: .25em;">
        <div class="col-12 text-left"  style="padding: 0;">
          <div class="text-left flow-info">
            {% assign words = product.description | split: "<!--info-->" %}
            {{ words[1] }}
          </div>
          <div class=" flow-caffeine">
          {% include 'caffeine' %}
          </div>
          </div>
        </div>
      </div>
    <div class="details_{{product.id}}">
        <p class="variant-details">
            <p class="sachet-count">
              {% for tag in product.tags %}
              {% if tag contains 'sachets' %}
              {% assign tag_mod = tag | handle | remove: 'sachets-' | split: '-' %}
              {% for word in tag_mod %}{{ word }} {% endfor %}
              {% endif %}
              {% endfor %}
              <span class="sachet-info"></span>
            </p>

            {% for tag in product.tags %}
            {% if tag contains 'serving' %}
            {% assign tag_serving = tag | handle | remove: 'serving-' | remove: 'cost-' | split: '-' %}
            {% for word in tag_serving %}{{ word }} {% endfor %}
            {% endif %}
            {% endfor %}
            {% if tag_serving.size > 0 %}
            per serving
            {% endif %}
            </p>
          </div>
        {% if product.template_suffix contains "samples" %}
        <div class="sample-meta"  style="display:none">
        {{ sample_info }}
        </div>
        {% endif %}
      </div>
      {{ hover_button }}
    </div>
    {% endcapture %}
    {{ product_meta }}
    {% if page.url contains "threesome" %}
    {% assign page_toggle = true %}
    {% endif %}
    {% unless page_toggle == true %}
    <div class="product__price price_hover_{{product.id}}">
      {% include 'product-price', variant: product.first_available_variant %}
    </div>
  {% endunless %}


  <script type="text/javascript">
    $( document ).ready(function(){
      var isMobile = false; //initiate as false
      // device detection
      if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
          || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {
          isMobile = true;
      }
      if (isMobile == false ){
          $('.sample-meta').show();
      }
      if (isMobile){
        $('.sample-meta').show();
        $('#mobile_toggle_{{product.id}}').removeAttr('href').click(function(){
          if($('.form_{{ product.id }}').hasClass('fadeIn')){
            $('.form_{{ product.id }}').removeClass('fadeIn');
            $('.bg_hover_{{ product.id }}').css('opacity', '0');
          } else {
            $('.form_{{ product.id }}').addClass('fadeIn');
            $('.bg_hover_{{ product.id }}').css('opacity', '1');
          }
        })
      }
      {% unless page_toggle == true %}
      $('.hover_{{ product.id }}').hover(function() {
        if ( isMobile == false ){
          $('.form_{{ product.id }}').addClass('fadeIn');
        }
        }, function() {
          $('.form_{{ product.id }}').removeClass('fadeIn');
      });
      {% endunless %}
      $('.bg_hover_{{ product.id }}').hover(function() {
        if ( isMobile == false ){
          $('.price_hover_{{ product.id }}').hide(0);
        }
        }, function() {
          $('.price_hover_{{ product.id }}').show(0);
      });
    })
    </script>
</div>
