{% if page.url contains "threesome"  %}
<a href="#" {% if product.available %}onClick='addProduct("{{ product.selected_or_first_available_variant.id }}", "{{product.title | escape }}");'{% endif %}>
{% else %}
<a href="{{ product.url | within: collection }}">
{% endif %}
{% assign size = product.images.size %}
{% for image in product.images %}
{% if forloop.rindex == 2 %}
  <div class='product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center' style="background-image: url('{{ image | img_url: '1000', scale: 1 }}'); background-size: cover;">
{% else %}
  <div class='product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center' style="background-image: url('{{ product.images.last | img_url: '1000', scale: 1 }}'); background-size: cover;">
{% endif %}
{% endfor %}
{% comment %} {% assign second = size | minus: 2 %}
{% if size > 2 %}
<div class='product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center' style="background-image: url('{{ product.images[second] | img_url: '1000', scale: 1 }}'); background-size: cover;">
{% else %}
<div class='product-card-hover bg_hover_{{ product.id }} d-flex flex-column align-items-center justify-content-center' style="background-image: url('{{ product.images.last | img_url: '1000', scale: 1 }}'); background-size: cover;"> {% endcomment %}

</div>
</a>
