    {% assign titles_list = '' %}
    {% assign titlesArray = '' | split: '*' %}
    {% assign descArray = '' | split: '*' %}
    {% if product.description contains "<!--collapse-titles-->" %}
      {% assign titlesArray = product.description | split: '<!--collapse-titles-->' %}
    {% endif %}
    {% if product.description contains "<!--collapse-descriptions-->" %}
      {% assign descs= product.description | split: '<!--collapse-descriptions-->'%}
    {% endif %}


    {% if titlesArray != blank %}
      {% for collapseTitle in titlesArray %}
        {% assign titles_list = titles_list | append: collapseTitle %}
      {% endfor %}
    {% endif %}

    {% if descs != blank %}
      {% for desc in descs %}
        {% assign descs_list = descArray | append: desc %}
      {% endfor %}
    {% endif %}

    {% assign tab-titles = titles_list | remove_last: '*' | split: "*" %}
    {% assign tab-descs = descArray | remove_last: '*' | split: "*" %}

  <div>
    <ul class="nav nav-tabs product-tabs row" id="product-tab-control" role="tablist">
    {% for title in tab-titles %}
      <li class="nav-item col-sm-3 col-6">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{title | replace: ' ', '' }}-tab" data-toggle="tab" href="#{{title | replace: ' ', '' }}-content" role="tab" aria-controls="home" aria-selected="true">
        {{ title | upcase }}
        </a>
      </li>
    {% endfor %}
    </ul>
    <div class="tab-content" id="product-tab">
    {% for desc in descArray %}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ tab-titles[forloop.index0]  | replace: ' ', '' }}-content" role="tabpanel" aria-labelledby="{{ tab-titles[forloop.index0]  | replace: ' ', ''  }}-tab">
      {{desc}}
      </div>
    {% endfor %}
    </div>
    </div>