<div class="grid-view-item  hover_{{product.id}} {% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">

  {% comment %} <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a> {% endcomment %}

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless product.featured_image == blank %}
    {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
    {% include 'product-card-hover' %}
    <div style="position:relative; padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
      <img id="{{ img_id }}"
            class="grid-view-item__image lazyload"
            src="{{ product.featured_image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-sizes="auto"
            alt="">
    </div>
  </div>
{% comment %} <img src="{{product.featured_image | img_url }}"/> {% endcomment %}
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>
    <div class="product-meta">
    <div class="details_{{product.id}}">
      <h4 style="display:block;" class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</h4>
        <div class="variant-details">
        {% include 'product-tags' %}
          <p class="sachet-count">
            {% for tag in product.tags %}
            {% if tag contains 'sachets' %}
            {% assign tag_mod = tag | handle | remove: 'sachets-' | split: '-' %}
            {% for word in tag_mod %}{{ word }} {% endfor %}
            {% endif %}
            {% endfor %}
            <span class="sachet-info"></span>
          </p>
        </div>
      </div>
    </div>
    {% if page.url contains "threesome" %}
    {% assign page_toggle = true %}
    {% endif %}
    {% unless page_toggle == true %}
    <div class="form_{{product.id}}" style="display: none;">
      {% comment %} <form class="card-add-to-cart" action="/cart/add" data-productid="{{product.id}}"  method="post" style="display: flex; flex-direction: column;">
        <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
        <input type="submit" value="Add To Cart" class="btn cart_updater" style="margin: -.5em 1em 1.5em;" />
      </form> {% endcomment %}
      <a href="{{ product.url | within: collection }}"><button type="submit"><span>Discover</span></a>
    </div>
    <div class="product__price price_hover_{{product.id}}">
      {% include 'product-price', variant: product %}
    </div>
      {% endunless %}
    <script type="text/javascript">
    $( document ).ready(function(){
      {% unless page_toggle == true %}
      $('.hover_{{ product.id }}').hover(function() {
          //$('.details_{{ product.id }}').hide(300);
          $('.form_{{ product.id }}').addClass('fadeIn');
        }, function() {
          $('.form_{{ product.id }}').removeClass('fadeIn');
          //$('.details_{{ product.id }}').show(300);
      });
      {% endunless %}
      $('.bg_hover_{{ product.id }}').hover(function() {
          $('#ProductCardImage-collection-template-{{ product.id }}').addClass('blur');
          $('#ProductCardImage-collection-template-packs-{{ product.id }}').addClass('blur');
          $('#ProductCardImage-featured-collections-{{ product.id }}').addClass('blur');
          $('.price_hover_{{ product.id }}').hide(0);
        }, function() {
          $('#ProductCardImage-collection-template-{{ product.id }}').removeClass('blur');
          $('#ProductCardImage-collection-template-packs-{{ product.id }}').removeClass('blur');
          $('#ProductCardImage-featured-collections-{{ product.id }}').removeClass('blur');
          $('.price_hover_{{ product.id }}').show(0);
      });
    })
    </script>
</div>
