{% if collection %}
{% if collection.previous_product or collection.next_product %}
  <p>
    {% if collection.previous_product %}
      {% capture prev_url %}{{ collection.previous_product}}{% endcapture %}
      {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
    {% else %}
      {{ 'products.general.previous_product_html' | t }}
    {% endif %}
    |
    {% if collection.next_product %}
      {% capture next_url %}{{ collection.next_product}}{% endcapture %}
      {{ 'products.general.next_product_html' | t | link_to: next_url }}
    {% else %}
      {{ 'products.general.next_product_html' | t }}
    {% endif %}
  </p>
  <p>{{ collection.products_count }}</p>
{% endif %}
{% endif %}