<div class="section-inner">
  <div class="text-center limitcopywidth">
    <h1 class="section-header">{{ section.settings.section_title }}</h1>
    <p class="subtitle">{{ section.settings.subtitle }}</p>
  </div>
  <div class="campaign-cta-box text-center" style="background-color: {{ section.settings.bg_color }};">
    <strong>{{ section.settings.sub_section_heading }}</strong>
    <br/>
    <a style="margin-top: 2em;" class="btn" href="{{ section.settings.cta_link }}">{{section.settings.cta_text}}</a>
  </div>
</div>
{% schema %}
  {
    "name": {
      "en": "Campaign intro + CTA"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Finding Time Well Spent 💸"
        }
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": {
          "en": "Section subeading"
        },
        "default": "<p>An ongoing campaign to find, feature and invest $1000 cash in women, helping them do more of what they love.</p>"
      },
      {
        "type": "text",
        "id": "sub_section_heading",
        "label": {
          "en": "CTA section Heading"
        },
        "default": {
          "en": "Apply in less time than it takes to make avocado toast."
        }
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": {
          "en": "CTA section color"
        }
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": {
          "en": "CTA link"
        }
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": {
          "en": "CTA text"
        }
      }
    ]
  }
{% endschema %}
