{%- comment -%}
Product header.
It is available in the "Header" section in the theme editor.

Theme Store required settings
- Show announcement
- Text: message to announce
- Link: link of the announcement bar

Theme Store optional settings
- Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="" class="{% if section.settings.header-slider %}header-slider{% endif %}{% if page.url contains '/pages/' %} small-page-header{% elsif page.url contains '/collections/' %} small-page-header{% endif %}">

{% if section.settings.header-slider %}
  <div class="slideshow-wrapper slider single-item">
    <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
      <span class="slideshow__pause-stop">
        {% include 'icon-pause' %}
        <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
      </span>
      <span class="slideshow__pause-play">
        {% include 'icon-play' %}
        <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
      </span>
    </button>

    <div class="slideshow header-slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}">

                {% for block in section.blocks %}

        <div class=" slideshow__slide slideshow__slide--{{ block.id }} {% if forloop.first %}slick-active{% endif %}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>
                  {%- assign is_background_video = false -%}
                  {% if block.type == 'video' %}
                    {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
                      {%- assign is_background_video = true -%}
                    {% endif %}
                  {% endif %}
            <div class="slideshow__image box ratio-container lazyload{% unless forloop.first == true %} lazypreload{% endunless %} js"
                 data-bgset="{% include 'bgset', image: block.settings.image %}"
                 data-sizes="auto"
                 data-parent-fit="cover"
                 style="background-position: {{ block.settings.alignment }};{% if forloop.first == true %} background-image: url('{{ block.settings.image | img_url: '300x300' }});{% endif %}">
            </div>
          <div class="slideshow__text-wrap{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__overlay{% endif %} " style="">
            <div class="overlay-box" style="background-color: {{ block.settings.color_image_overlay }}; opacity: {{ block.settings.color_image_opacity | times: 0.01 }};">

            </div>

            <div class="slideshow__text-content {% if forloop.first %}slick-active{% endif %}">
              <div class="page-width  slideshow-inner-text {% if block.settings.justification == 'left' %}left{% elsif block.settings.justification == 'right' %}right{% endif %}">
                {% unless block.settings.title == blank %}
                  <h2 class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                    {{ block.settings.title | escape }}
                  </h2>
                {% endunless %}
                {% unless block.settings.subheading == blank %}
                  <h4 class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                    {{ block.settings.subheading | escape }}
                  </h4>
                {% endunless %}
                {% comment %} <h1 class="text-white">
                  <span role="text">
                    <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
                    {{ page.title }}
                  </span>
                </h1> {% endcomment %}
                {% unless block.settings.link == blank %}
                <a type="submit" name="header-cta" class="btn btn-slider" href="{{block.settings.link}}"><span>{{ block.settings.cta_text }}</span></a>
                {% endunless %}
                {% if block.type == 'video' %}
                  {% unless block.settings.video_type == 'background' %}
                    <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                      <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                        {% include 'icon-play-video' %}
                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                      </button>
                    </div>
                  {% endunless %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if section.blocks.size == 0 %}
  <div class="placeholder-noblocks">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endif %}
</div>
<div class="top-nav-box">
  {% include "announcement-bar" %}
  <header role="banner" class="header-menus {% if section.settings.header-slider %}has-slider{% endif %}">
  {% include "header-nav" %}
  </header>
</div>

</section>

{% if section.settings.logo != blank %}
<style>
.logo-image {
  display: block;
  max-width: {{ section.settings.logo_max_width }}px;
}
</style>
{% endif %}

{% schema %}
{
  "name": "Header About Page",
  "settings": [
      {
      "type": "checkbox",
      "id": "announcement_bar_enabled",
      "label": "Show announcement",
      "default": false
      },
      {
        "type": "checkbox",
        "id": "header-slider",
        "label": "Has slideshow?",
        "default": false
      },
      {
        "type": "select",
        "id": "slideshow_height",
        "label": "Section height",
        "default": "small",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 170
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "image_picker",
        "id": "threesome_image",
        "label": "Image for make a bundle in Nav"
      }
    ],
        "blocks": [
          {
            "type": "image",
            "name": "Image slide",
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                "type": "select",
                "id": "alignment",
                "label": "Image alignment",
                "default": "top",
                "options": [
                  {
                    "value": "top",
                    "label": "Top"
                  },
                  {
                    "value": "center",
                    "label": "Middle"
                  },
                  {
                    "value": "bottom",
                    "label": "Bottom"
                  }
                ]
              },
              {
                "type": "color",
                "id": "color_image_overlay",
                "label": "Image Overlay",
                "default": "#fff"
              },
              {
                "type": "range",
                "id": "color_image_opacity",
                "label": "Image Overlay Opacity",
                "default": 20,
                "min": 1,
                "max": 100
              }
            ]
          }
          ],
          "presets": [
          {
            "name": "header-about-page",
            "category": "Headers"
          }
          ]
          }


{% endschema %}

                <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "Organization",
                  "name": "{{ shop.name }}",
                  {% if section.settings.logo %}
                  {% assign image_size = section.settings.logo.width | append:'x' %}
                  "logo": "https:{{ section.settings.logo | img_url: image_size }}",
                  {% endif %}
                  "sameAs": [
                  "{{ settings.social_twitter_link }}",
                  "{{ settings.social_facebook_link }}",
                  "{{ settings.social_pinterest_link }}",
                  "{{ settings.social_instagram_link }}",
                  "{{ settings.social_tumblr_link }}",
                  "{{ settings.social_snapchat_link }}",
                  "{{ settings.social_youtube_link }}",
                  "{{ settings.social_vimeo_link }}"
                  ],
                  "url": "{{ shop.url }}{{ page.url }}"
                }
                </script>

                {% if template.name == 'index' %}
                <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "WebSite",
                  "name": "{{ shop.name }}",
                  "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{{ shop.url }}/search?q={search_term_string}",
                    "query-input": "required name=search_term_string"
                    },
                    "url": "{{ shop.url }}{{ page.url }}"
                  }
                  </script>
                  {% endif %}
