{%- comment -%}
Account header.
It is available in the "Header" section in the theme editor.
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="" class="small-page-header">
<div class="top-nav-box" style="position: relative;">
  {% comment %} {% include "announcement-bar" %} {% endcomment %}
  <header role="banner" class="header-menus">
  {% include "header-nav-account" %}
  </header>
</div>

</section>

{% if section.settings.logo != blank %}
<style>
.logo-image {
  display: block;
  max-width: {{ section.settings.logo_max_width }}px;
}
</style>
{% endif %}

{% schema %}
{
  "name": "Header Account",
  "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 160
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "image_picker",
        "id": "threesome_image",
        "label": "Image for make a bundle in Nav"
      }
    ],
        "presets": [
          {
            "name": "header-account-pages",
            "category": "Headers"
          }
          ]
          }


{% endschema %}

                <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "Organization",
                  "name": "{{ shop.name }}",
                  {% if section.settings.logo %}
                  {% assign image_size = section.settings.logo.width | append:'x' %}
                  "logo": "https:{{ section.settings.logo | img_url: image_size }}",
                  {% endif %}
                  "sameAs": [
                  "{{ settings.social_twitter_link }}",
                  "{{ settings.social_facebook_link }}",
                  "{{ settings.social_pinterest_link }}",
                  "{{ settings.social_instagram_link }}",
                  "{{ settings.social_tumblr_link }}",
                  "{{ settings.social_snapchat_link }}",
                  "{{ settings.social_youtube_link }}",
                  "{{ settings.social_vimeo_link }}"
                  ],
                  "url": "{{ shop.url }}{{ page.url }}"
                }
                </script>

                {% if template.name == 'index' %}
                <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "WebSite",
                  "name": "{{ shop.name }}",
                  "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{{ shop.url }}/search?q={search_term_string}",
                    "query-input": "required name=search_term_string"
                    },
                    "url": "{{ shop.url }}{{ page.url }}"
                  }
                  </script>
                  {% endif %}
