<div style="background-color: {{ section.settings.section_bg }}" class="section-inner-small homepage-icons-section">
<div style="clear: both;" class="row d-flex contained">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row" >
            <div class="homepage-icon-wrap col-3 d-flex flex-column align-items-center justify-content-start text-center" style="">
                {% if section.settings.interval_img_1 %}<img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_1 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_1 }}</h5>{% endif %}
            </div>
            <div class="homepage-icon-wrap col-3 d-flex flex-column align-items-center justify-content-start text-center" style="">
                {% if section.settings.interval_img_2 %}<img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_2 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_2 }}</h5>{% endif %}
            </div>
            <div class="homepage-icon-wrap col-3 d-flex flex-column align-items-center justify-content-start text-center" style="">
                {% if section.settings.interval_img_3 %}<img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_3 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_3 }}</h5>{% endif %}
            </div>
            <div class="homepage-icon-wrap col-3 d-flex flex-column align-items-center justify-content-start text-center" style="">
                {% if section.settings.interval_img_4 %}<img class="interval-image-small" src="{{ section.settings.interval_img_4 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_4 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_4 }}</h5>{% endif %}
            </div>
        </div>
    </div>
    {% if section.settings.cta_link %}
    <div class="col-12 d-flex align-items-center justify-content-center text-center" style="padding-top: 1.5em;">
        <a class="btn" href="{{ section.settings.cta_link }}">
        <span>{{ section.settings.cta_text }} </span>
        </a>
    </div>
    {% endif %}
</div>
</div>
{% schema %}
{
    "name": {
        "en": "Homepage Icons"
    },
    "settings": [
        {
        "type": "image_picker",
        "id": "interval_img_1",
        "label": "Icon 1"
        },
        {
        "type": "text",
        "id": "text_1",
        "label": "Text 1"
        },
        {
        "type": "image_picker",
        "id": "interval_img_2",
        "label": "Icon 2"
        },
        {
        "type": "text",
        "id": "text_2",
        "label": "Text 2"
        },
        {
        "type": "image_picker",
        "id": "interval_img_3",
        "label": "Icon 3"
        },
        {
        "type": "text",
        "id": "text_3",
        "label": "Text 3"
        },
        {
        "type": "image_picker",
        "id": "interval_img_4",
        "label": "Icon 4"
        },
        {
        "type": "text",
        "id": "text_4",
        "label": "Text 4"
        },
        {
        "type": "color",
        "id": "section_bg",
        "label": "Section Background"
        },
        {
        "type": "color",
        "id": "section_font",
        "label": "Section Font Color"
        },
        {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Send Invite"
        },
        {
        "type": "url",
        "id": "cta_link",
        "label": "Button Link"
        }
        ],
        "presets": [
        {
        "name": "Homepage Icons",
        "category": "Homepage"
        }
    ]
}
{% endschema %}
