<div style="padding: 2em 0">
<div style="clear: both;" class="row d-flex">
        {% if section.settings.interval_header %}
        <div class="col-12">
            <h1 class=" text-center">{{section.settings.interval_header}}</h1>
            <p class=" text-center">{{section.settings.interval_subheader_pre_date}} <strong>{{ "now" | date: "%s" | plus: 1209600  | date: "%b %d" }}</strong> {{section.settings.interval_subheader_post_date}}</p>
        </div>
        {% endif %}
        <div class="col-12">
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_1 %}<img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_1 %}<h3 id="" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_1}}</h3>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_2 %}<img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_2 %}<h3 id="" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_2}}</h3>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_3 %}<img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_3 %}<h3 id="" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_3}}</h3>{% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% schema %}
{
    "name": {
        "en": "Homepage Icons"
    },
    "settings": [
    {
        "type": "text",
        "id": "interval_header",
        "label": "interval panel header (inside sub-flow)",
        "default": "Choose a schedule that suits your mood."
        },
        {
        "type": "text",
        "id": "interval_subheader_pre_date",
        "label": "text before ship date",
        "default": "Your first delivery arrives"
        },
        {
        "type": "text",
        "id": "interval_copy_1",
        "label": "interval 1 copy (under illustration)",
        "default": "I drink tea at least once a day."
        },
        {
        "type": "text",
        "id": "interval_copy_2",
        "label": "interval 2 copy (under illustration)",
        "default": "I drink tea a few times per week."
        },
        {
        "type": "text",
        "id": "interval_copy_3",
        "label": "interval 3 copy (under illustration)",
        "default": "I'll need enough for me + company."
        },
        {
        "type": "image_picker",
        "id": "interval_img_1",
        "label": "Icon 1"
        },
        {
        "type": "image_picker",
        "id": "interval_img_2",
        "label": "Icon 2"
        },
        {
        "type": "image_picker",
        "id": "interval_img_3",
        "label": "Icon 2"
        }
        ],
        "presets": [
        {
        "name": "Homepage Icons",
        "category": "Homepage"
        }
    ]
}
{% endschema %}
