<div style="padding: 2em 0; background-color: {{ section.settings.section_bg }}">
<div style="clear: both;" class="row d-flex contained">
        {% if section.settings.interval_header %}
        <div class="col-12">
            <h1 class=" text-center" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important" {% endif %}>{{section.settings.interval_header}}</h1>
            <p class=" text-center" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important" {% endif %}>{{section.settings.interval_subheader_pre_date}}</p>
        </div>
        {% endif %}
        <div class="col-12">
        <div class="row" style="padding-top: 1.5em;">
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_1 %}<img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_1 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}><strong>{{section.settings.interval_copy_1}}</strong></p>{% endif %}
                {% if section.settings.interval_copy_1 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}>{{section.settings.interval_subcopy_1}}</p>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_2 %}<img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_2 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}><strong>{{section.settings.interval_copy_2}}</strong></p>{% endif %}
                {% if section.settings.interval_copy_1 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}>{{section.settings.interval_subcopy_2}}</p>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-between text-center">
                {% if section.settings.interval_img_3 %}<img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_3 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}><strong>{{section.settings.interval_copy_3}}</strong></p>{% endif %}
                {% if section.settings.interval_copy_1 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 1em;"{% else %}style="margin-top: 1em;" {% endif %}>{{section.settings.interval_subcopy_3}}</p>{% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% schema %}
{
    "name": {
        "en": "Homepage Icons"
    },
    "settings": [
    {
        "type": "text",
        "id": "interval_header",
        "label": "Section header",
        "default": "This is a section header"
        },
        {
        "type": "text",
        "id": "interval_subheader_pre_date",
        "label": "subheader",
        "default": "This is a section subheader"
        },
        {
        "type": "image_picker",
        "id": "interval_img_1",
        "label": "Icon 1"
        },
        {
        "type": "text",
        "id": "interval_copy_1",
        "label": "copy 1(under illustration)",
        "default": "Modeled content."
        },
        {
        "type": "text",
        "id": "interval_subcopy_1",
        "label": "subcopy 1",
        "default": "Modeled content."
        },
        {
        "type": "image_picker",
        "id": "interval_img_2",
        "label": "Icon 2"
        },
        {
        "type": "text",
        "id": "interval_copy_2",
        "label": "copy 2(under illustration)",
        "default": "Modeled content."
        },
        {
        "type": "text",
        "id": "interval_subcopy_2",
        "label": "subcopy 2",
        "default": "Fresh, organic ingredients and corn-based tea bags -- to avoid pesticides, bleaches, artificial and “natural” flavors and GMOs."
        },
        {
        "type": "image_picker",
        "id": "interval_img_3",
        "label": "Icon 2"
        },
        {
        "type": "text",
        "id": "interval_copy_3",
        "label": "copy 3(under illustration)",
        "default": "Modeled content."
        },
        {
        "type": "text",
        "id": "interval_subcopy_3",
        "label": "subcopy 3",
        "default": "Modeled content."
        },
        {
        "type": "color",
        "id": "section_bg",
        "label": "Section Background"
        },
        {
        "type": "color",
        "id": "section_font",
        "label": "Section Font Color"
        }
        ],
        "presets": [
        {
        "name": "Homepage Icons",
        "category": "Homepage"
        }
    ]
}
{% endschema %}
