<div style="padding: 2em 0; background-color: {{ section.settings.section_bg }}">
<div style="clear: both;" class="row d-flex contained">
        {% if section.settings.interval_header %}
        <div class="col-12">
            <h1 class=" text-center" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important" {% endif %}>{{section.settings.interval_header}}</h1>
            <p class=" text-center" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important" {% endif %}>{{section.settings.interval_subheader_pre_date}}</p>
        </div>
        {% endif %}
        <div class="col-12">
        <div class="row" >
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-start text-center" style="padding-top: 1.5em;">
                {% if section.settings.interval_img_1 %}<img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_1 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% else %}style="margin-top: 0; margin-bottom: 0;" {% endif %}><strong>{{section.settings.interval_copy_1}}</strong></p>{% endif %}
                {% if section.settings.interval_subcopy_1 %}<p id="" class="value-subcopy"{% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% endif %}>{{section.settings.interval_subcopy_1}}</p>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-start text-center" style="padding-top: 1.5em;">
                {% if section.settings.interval_img_2 %}<img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_2 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% else %}style="margin-top: 0; margin-bottom: 0;" {% endif %}><strong>{{section.settings.interval_copy_2}}</strong></p>{% endif %}
                {% if section.settings.interval_subcopy_1 %}<p id="" class="value-subcopy" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% endif %}>{{section.settings.interval_subcopy_2}}</p>{% endif %}
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-start text-center" style="padding-top: 1.5em;">
                {% if section.settings.interval_img_3 %}<img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.interval_copy_3 %}<p id="" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% else %}style="margin-top: 0; margin-bottom: 0;" {% endif %}><strong>{{section.settings.interval_copy_3}}</strong></p>{% endif %}
                {% if section.settings.interval_subcopy_1 %}<p id="" class="value-subcopy" {% if section.settings.section_font != 'blank' %} style="color: {{ section.settings.section_font }} !important;margin-top: 0;"{% endif %}>{{section.settings.interval_subcopy_3}}</p>{% endif %}
            </div>
        </div>
    </div>
    {% if section.settings.cta_link %}
    <div class="col-12 d-flex align-items-center justify-content-center text-center" style="padding-top: 1.5em;">
        <a class="btn" href="{{ section.settings.cta_link }}">
        <span>{{ section.settings.cta_text }}</span>
        </a>
    </div>
    {% endif %}
</div>
</div>
{% schema %}
{
    "name": {
        "en": "Brand Ethos"
    },
    "settings": [
    {
        "type": "text",
        "id": "interval_header",
        "label": "Section header",
        "default": "Made for good times and good people."
        },
        {
        "type": "text",
        "id": "interval_subheader_pre_date",
        "label": "subheader"
        },
        {
        "type": "image_picker",
        "id": "interval_img_1",
        "label": "Icon 1"
        },
        {
        "type": "text",
        "id": "interval_copy_1",
        "label": "copy 1(under illustration)",
        "default": "Safe Ingredients"
        },
        {
        "type": "textarea",
        "id": "interval_subcopy_1",
        "label": "subcopy 1",
        "default": "<p>We use fresh, organic ingredients and corn-fiber tea bags to avoid pesticides, bleaches, artificial flavors and GMOs, while boosting flavor and antioxidants.</p>"
        },
        {
        "type": "image_picker",
        "id": "interval_img_2",
        "label": "Icon 2"
        },
        {
        "type": "text",
        "id": "interval_copy_2",
        "label": "copy 2(under illustration)",
        "default": "Sustainable Practices"
        },
        {
        "type": "textarea",
        "id": "interval_subcopy_2",
        "label": "subcopy 2",
        "default": "<p>Ethically-sourced ingredients from pesticide-free family farms and 100% biodegradable corn-fiber tea bags to keep you and the Earth happy.</p>"
        },
        {
        "type": "image_picker",
        "id": "interval_img_3",
        "label": "Icon 2"
        },
        {
        "type": "text",
        "id": "interval_copy_3",
        "label": "copy 3(under illustration)",
        "default": "Empowering Women"
        },
        {
        "type": "textarea",
        "id": "interval_subcopy_3",
        "label": "subcopy 3",
        "default": "<p>By purchasing our tea, you’re directly investing in female pursuits. We offer $1,000 grants throughout the year, help us choose winners on Instagram.</p>"
        },
        {
        "type": "color",
        "id": "section_bg",
        "label": "Section Background"
        },
        {
        "type": "color",
        "id": "section_font",
        "label": "Section Font Color"
        },
        {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Send Invite"
        },
        {
        "type": "url",
        "id": "cta_link",
        "label": "Button Link"
        }
        ],
        "presets": [
        {
        "name": "Homepage Icons",
        "category": "Homepage"
        }
    ]
}
{% endschema %}
