{% capture layout %}
    <div class="col-sm-10 d-flex flex-column align-items-start justify-content-center text-container">
        <div>
            <h1>{{ section.settings.text_1 }}</h1>
            <p>{{ section.settings.text_2 }}</p>
        </div>
        <ul>
        {% for block in section.blocks %}
        <li><img src="{{ block.settings.list_item_image | img_url: '30x30' }}"/>{{ block.settings.list_item }}</li>
        {% endfor %}
        </ul>
    </div>
{% endcapture %}

  <div class="image-and-text-box" style="background-image: url('{{ section.settings.bg_image | img_url: '1200x' }}'); background-position: center; background-size: cover; width: 100%; height: {{ section.settings.section_height | times: 10 }}px;">
    <div class="row contained d-flex align-items-center section-inner" style="height: {{ section.settings.section_height | times: 10 }}px">
        {% if section.settings.layout == 'left' %}
            {{ layout }}
        {% endif %}
        {% if section.settings.layout == 'right' %}
            {{ layout }}
        {% endif %}
    </div>
  </div>
{% if section.settings.bg_image_mobile %}
    <script type="text/javascript">
    var windowsize = $(window).width();
        $(window).resize(function() {
        windowsize = $(window).width();
        if (windowsize < 750) {
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image_mobile | img_url: '800x' }}')");
        } else if (windowsize >= 750){
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image | img_url: '2000x'}}')");
        }else {
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image | img_url: '2000x'}}')");
        }
        });
        $(document).ready(function() {
        windowsize = $(window).width();
        if (windowsize < 750) {
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image_mobile | img_url: '800x' }}')");
        } else if (windowsize >= 750){
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image | img_url: '2000x'}}')");
        }else {
            $("background-section-target").css("background-image", "url('{{section.settings.bg_image | img_url: '2000x'}}')");
        }
        });
    </script>
{% endif %}
{% schema %}
{
    "name": "Image-Column",
    "settings": [
    {
    "type": "text",
    "id": "text_1",
    "label": "Title Text",
    "default": "It's 2018, your teas should be clean."
    },
    {
    "type": "text",
    "id": "text_2",
    "label": "Title Subtext",
    "default": "FYI, ours always will be"
    },
    {
    "type": "image_picker",
    "id": "bg_image",
    "label": "Background Image"
    },
    {
    "type": "select",
    "id": "layout",
    "label": "Left-Right Layout",
    "options": [
        {
            "value": "left",
            "label": "left"
        },
        {
            "value": "right",
            "label": "right"
        }
    ],
    "default": "left"
    },
    {
    "type": "image_picker",
    "id": "bg_image_mobile",
    "label": "Background Image Mobile"
    },
    {
    "type": "select",
    "id": "layout_mobile",
    "label": "Left-Right Layout (mobile image)",
    "options": [
        {
            "value": "left",
            "label": "left"
        },
        {
            "value": "right",
            "label": "right"
        }
    ],
    "default": "left"
    },
    {
    "type":      "range",
    "id":        "section_height",
    "min":       10,
    "max":        100,
    "step":       10,
    "unit":       "px",
    "label":     "Section Height",
    "default":   60
    }
    ],
    "blocks":[
        {
            "type": "Text",
            "name": "Feature List",
            "settings": [
            {
                "type": "text",
                "id": "list_item",
                "label": "List Item Text",
                "default": "100% Organic"
            },
            {
                "type": "image_picker",
                "id": "list_item_image",
                "label": "List Item Image"
            }
            ]
        }
    ],
        "presets": [
        {
        "name": "Text Box WIth Image Background",
        "category": "Text Content"
        }
        ]
    }
{% endschema %}
