<div class="section-inner contained">
  {% for tag in product.tags %}
  {% if tag contains "contains" %}
  {% assign tag_mod = tag | split: "-" %}
  {% assign product_id = tag_mod[1] %}
  {% assign product = all_products[product_id] %}
  {% capture cycle_var %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% capture image_layout %}
   <div class="col-sm-5 about-image-wrap" style='padding: .5em;'>
   <img class="about-image text-orange" src="{{ product.featured_image | img_url: '800x' }}"/>
    {% comment %} {% include 'responsive-image' with image: block.settings.image, image_class: "about-image", max_width: 700, max_height: 800 %} {% endcomment %}
   </div>
  {% endcapture %}
    <div class="row d-flex align-items-center " style='padding: 1em 0;'>
    {% if cycle_var == 'odd' %}{{ image_layout }}{% endif %}
    <div class="text-left col-sm-7 product-single">
      <h1 class="about-subtitle product-single__title">{{ product.title}}</h1>
      <p>{{ product.description }}</p>
      {% include 'caffeine' %}
      </div>
      {% if cycle_var == 'even' %}{{ image_layout }}{% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": {
      "en": "Included Teas"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Rethinking beverages for our female contemporaries."
        }
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Section subeading"
        },
        "default": {
          "en": "Our blends are designed to heighten the highs, cushion the lows and complement the in-betweens of women’s everyday pursuits."
        }
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "About block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "section heading",
            "default": {
              "en": "It’s 2018, your teas should be clean."
            }
          },
          {
            "type": "text",
            "id": "text_content",
            "label": "Text Content",
            "default": "lorem"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
