<div class="contained">
  {% for tag in product.tags %}
  {% if tag contains "contains" %}
  {% assign tag_mod = tag | split: "-" %}
  {% assign product_id = tag_mod[1] %}
  {% assign custom_product = all_products[product_id] %}
  {% capture cycle_var %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% capture image_layout %}
   <div class="col-sm-5 about-image-wrap" style='padding: .5em;'>
   <img class="about-image text-orange" src="{{ custom_product.featured_image | img_url: '800x' }}"/>
    {% comment %} {% include 'responsive-image' with image: block.settings.image, image_class: "about-image", max_width: 700, max_height: 800 %} {% endcomment %}
   </div>
  {% endcapture %}
    <div class="row d-flex align-items-center " style='padding: 1em 0;'>
    {% if cycle_var == 'odd' %}{{ image_layout }}{% endif %}
    <div class="text-left col-sm-7">
    <div class="" style="margin: 1rem 0;">
    <p class="tasting-notes">
          {% for tag in custom_product.tags %}
          {% if tag contains 'effect' %}
          {% assign tag_mod = tag | handle | remove: 'effect-' | split: '-' %}
          <span class="effect">{% for word in tag_mod %}{{ word | capitalize }} {% endfor %}</span>
          {% endif %}
          {% endfor %}
        </p>
    </div>
      <a href="{{custom_product.url | within: collection}}"><h1 class="about-subtitle product-included">{{ custom_product.title}}</h1></a>
      <p>{{ custom_product.description }}</p>
      {% include 'caffeine-bundles' %}
      </div>
      {% if cycle_var == 'even' %}{{ image_layout }}{% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
{% schema %}
  {
    "name": {
      "en": "Included Teas"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Rethinking beverages for our female contemporaries."
        }
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Section subeading"
        },
        "default": {
          "en": "Our blends are designed to heighten the highs, cushion the lows and complement the in-betweens of women’s everyday pursuits."
        }
      }
    ]
  }
{% endschema %}
