<div class="password-icon-bar" style="background-color: {{ section.settings.bg_color }}">
<div class="contained container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-3">
      <img class="lazyload js" src="{{ section.settings.icon1 | img_url: '300x300' }}">
      <p>{{ section.settings.copy1 }}</p>
    </div>
    <div class="col-3">
      <img class="lazyload js" src="{{ section.settings.icon2 | img_url: '300x300' }}">
      <p>{{ section.settings.copy2 }}</p>
    </div>
    <div class="col-3">
      <img class="lazyload js" src="{{ section.settings.icon3 | img_url: '300x300' }}">
      <p>{{ section.settings.copy3 }}</p>
    </div>
    <div class="col-3">
      <img class="lazyload js" src="{{ section.settings.icon4 | img_url: '300x300' }}">
      <p>{{ section.settings.copy4 }}</p>
    </div>
  </div>
</div>
</div>
{% schema %}
{
"settings": [
    {
        "type": "image_picker",
        "id": "icon1",
        "label": "icon 1"
      },
      {
        "type": "text",
        "id": "copy1",
        "label": "Copy 1",
        "default": "100% Organic"
      },
      {
        "type": "image_picker",
        "id": "icon2",
        "label": "icon 2"
      },
      {
        "type": "text",
        "id": "copy2",
        "label": "Copy 2",
        "default": "No Artifical Colors"
      },
      {
        "type": "image_picker",
        "id": "icon3",
        "label": "icon 3"
      },
      {
        "type": "text",
        "id": "copy3",
        "label": "Copy 3",
        "default": "No Toxic Chemicals"
      },
      {
        "type": "image_picker",
        "id": "icon4",
        "label": "icon 4"
      },
      {
        "type": "text",
        "id": "copy4",
        "label": "Copy 4",
        "default": "Pesticide Free"
      },
     {
        "type": "color",
        "id": "bg_color",
        "default": "#ffffff",
        "label": "Background Color"
      }
    ]
}
{% endschema %}
