<div class="section-inner no-pad about-content" style="padding-top: 0; background-color: {{ section.settings.bg-color }}">
  <div class="text-center limitcopywidth">
    <div class="row d-flex align-items-center" style='padding: 0em 0;'>
    <div class="col-md-5 about-image-wrap order-2 order-md-1" style='padding: 1.5em;'>
        <img class="about-image text-orange" src="{{ section.settings.image | img_url: '800x' }}"/>
      </div>
      <div class="text-left col-md-7 order-1 order-md-2">
        <h2 class="about-subtitle">{{ section.settings.heading}}</h2>
        <p>{{ section.settings.text_content }}</p>
      </div>
    </div>
    <p style=" text-align: center;">{{ section.settings.subtext }}</p>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Product Differentation"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "section heading",
        "default": {
          "en": "<p>We're different. When we say <strong>no pesticides</strong>, we meant it.</p>"
        }
      },
      {
        "type": "text",
        "id": "text_content",
        "label": "Text Content",
        "default": "lorem"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
      "type": "text",
      "id": "subtext",
      "label": "subtext",
      "default": "HOW THE MEMBERSHIP WORKS"
      },
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
