{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}

{% capture header_logo %}
<a href="/" class="logo-image">
    {% if section.settings.logo != blank %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: image_size }}"
    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
    alt="{{ section.settings.logo.alt | default: shop.name }}">
    {% else %}
    {{ shop.name }}
    {% endif %}
</a>
{% endcapture %}
<div class="takeover takeover_1" {% if section.settings.takeover_1_bg %}style="background-color: {{section.settings.takeover_1_bg}};" {% endif %}>
    <div class ="d-flex align-items-center justify-content-center  takeover-logo">{{ header_logo }}</div>
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer" onclick="dataLayer.push({'event': 'close_subflow'});"><span class="close-icon"></span></a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <div class="selection-intro">
                <h1 class=" text-center">{{ section.settings.selection_header }}</h1>
                <p class=" text-center">{{ section.settings.selection_subheader }} </p>
                <br/>
                <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                    <button  id="bundle-adder-btn" class="btn btn-large flow-button" disabled type="button" onClick="nextView(1)">Next</button>
                </div>
            </div>
            <div class="row ">
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = "col-6 col-sm-6 col-lg-4 col-xl-3" -%}
            {% for product in collections.singles.products %}
                <li class="{{ grid_item_width }}">
                {% include "product-card-grid-samples", max_height: max_height %}
                </li>
            {% endfor %}
            </div>
            </div>
            <div class="row contained smaller">
                <div class="col-12 row-80 text-center" style="padding: 4em;">
                    <div class="row">
                        <div class="col-md-3 col-6 text-center" style="margin-bottom: 2em;">
                        <img class="info-image small" src="{{ section.settings.col_1_image | img_url: '300x300' }}">
                        <p class="text-center">{{ section.settings.col_1_content }}</p>
                        </div>
                        <div class="col-md-3 col-6 text-center" style="margin-bottom: 2em;">
                        <img class="info-image small" src="{{ section.settings.col_2_image | img_url: '300x300' }}">
                        <p class="text-center text-center">{{ section.settings.col_2_content }}</p>
                        </div>
                        <div class="col-md-3 col-6 text-center" style="margin-bottom: 2em;">
                        <img class="info-image small" src="{{ section.settings.col_3_image | img_url: '300x300' }}">
                        <p class="text-center">{{ section.settings.col_3_content }}</p>
                        </div>
                        <div class="col-md-3 col-6 text-center" style="margin-bottom: 2em;">
                        <img class="info-image small" src="{{ section.settings.col_4_image | img_url: '300x300' }}">
                        <p class="text-center">{{ section.settings.col_4_content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="takeover takeover_2" {% if section.settings.takeover_2_bg %}style="background-color: {{section.settings.takeover_2_bg}};" {% endif %}>
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer"><span class="close-icon"></span></a>
    <div class ="d-flex align-items-center justify-content-center takeover-logo">{{ header_logo }}</div>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(2)">< BACK</a>
    <div style="clear: both;" class="row d-flex">
            <div class="col-12" style="padding: 2em 4em;">
            <h1 class=" text-center">{{section.settings.interval_header}}</h1>
            <p class=" text-center">{{section.settings.interval_subheader_pre_date}} <strong>{{ "now" | date: "%s" | plus: 1209600  | date: "%b %d" }}</strong> {{section.settings.interval_subheader_post_date}}</p>
            </div>
            <div class="col-12">
            <div id="bundle_anchor" class="row" style="margin: 4em 0 1em;">
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_1" onClick="selectInterval(3)">
                    <img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">
                    <h3 id="selected_product_1" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_1}}</h3>
                    <p style="margin-bottom:0;">{{section.settings.interval_copy_1a}}<br/>  {{section.settings.interval_copy_1b}}</p>
                    <p> {{section.settings.interval_copy_1c}}</p>
                </a>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_2" onClick="selectInterval(2)">
                    <img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">
                    <h3 id="selected_product_2" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_2}}</h3>
                    <p style="margin-bottom:0;">{{section.settings.interval_copy_2a}}<br/>   {{section.settings.interval_copy_2b}}</p>
                    <p> {{section.settings.interval_copy_2c}}</p>
                </a>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_3" onClick="selectInterval(1)">
                    <img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">
                    <h3 id="selected_product_3" style="margin-top: 1em;font-size:1.6em;">{{section.settings.interval_copy_3}}</h3>
                    <p style="margin-bottom:0;">{{section.settings.interval_copy_3a}}<br/>   {{section.settings.interval_copy_3b}}</p>
                    <p> {{section.settings.interval_copy_3c}}</p>
                </a>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button id="interval_next" disabled class="btn btn-large flow-button" type="button" onClick="nextView(2)">Next</button>
                <p style="padding-top: 2em;" class="small">There are 20 organic tea sachets in every box.</p>
            </div>
        </div>
    </div>
    <div class="takeover takeover_3" {% if section.settings.takeover_3_bg %}style="background-color: {{section.settings.takeover_3_bg}};" {% endif %}>
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer"><span class="close-icon"></span></a>
        <div class ="d-flex align-items-center justify-content-center takeover-logo">{{ header_logo }}</div>

    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(3)">< BACK</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-start small-hide">
                    <img class="summary-img" src="{{ section.settings.summary_image | img_url: '600x' }}">
                </div>
                <div class="col-sm-6 d-flex flex-column align-items-left justify-content-between" style="max-width:500px;">
                <div class="recap-card">
                    <div class="sub-details-upper row">
                    <h3 class="col-12">Ships Today</h3>
                    <p class=" col-6">Subtotal:</p><p class=" col-6">FREE</p>
                    <p class=" col-6">Shipping:</p><p class=" col-6">$3</p>
                    <p class=" col-6">Total Today:</p><p class=" col-6">$3</p>
                    <p class="col-8"><small>Love the samples? We'll kick in $3 towards your membership!</small></p>
                    </div>
                    <div class="col-12 bundle-complete-btn" style="height: 39px;margin: 1em 0;">
                        <button  style="" type="button" onClick="checkoutRedirect()" class="btn flow-button">Place Order - $3</button>
                    </div>
                    <div class="subs-accordion col-12" id="accordion-upper">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Your sample selection <span class="caret-down-icon"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-upper">
                            <div class="card-body">
                                <img id="loader-gif" src="{{ 'loader.gif' | asset_url }}"/>
                                <div id="sub-flow-cart-upper"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recap-card">
                    <div class="sub-details-lower row">
                    <h3 class="col-12">Ships & Charges in 2 Weeks</h3>
                    <p class=" col-6">Subtotal:</p><p class=" col-6">$48 <span class="refresh-icon"></span> <span class="interval_target"></span> months</p>
                    <p class=" col-6">Shipping:</p><p class=" col-6"><strike>$3</strike> FREE</p>
                    <p class=" col-6">Credit:</p><p class=" col-6">$3</p>
                    <p class=" col-6">Total Today:</p><p class=" col-6">$0</p>
                    </div>
                    <div class="subs-accordion col-12" id="accordion-lower">
                        <div class="card-header" id="headingOne">
                            <p class="mb-0">
                                <a class="" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Your full size subscription <span class="caret-down-icon"></span>
                                </a>
                            </p>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-lower">
                            <div class="card-body">
                                <div id="sub-flow-cart-lower"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="review-info">
                        <div class="row d-flex align-items-center justify-content-around review-row">
                            <div class="col-3"><img src="{{ section.settings.summary_icon_1 | img_url: '50x50' }}"></div>
                            <div class="col-9 small">
                                <strong>{{section.settings.summary_icon_1_title}}</strong>
                                <p>{{section.settings.summary_icon_1_text}}</p>
                            </div>
                            <div class="col-3"><img src="{{ section.settings.summary_icon_2 | img_url: '50x50' }}"></div>
                            <div class="col-9 small">
                                <strong>{{section.settings.summary_icon_2_title}}</strong>
                                <p>{{section.settings.summary_icon_2_text}}</p>
                            </div>
                            {% comment %} <div class="col-3"><img src="{{ section.settings.summary_icon_3 | img_url: '50x50' }}"></div>
                            <div class="col-9 small">
                                <strong>Email Reminders</strong>
                                <p>We give you enough time to modify or cancel deliveries before each shipment.</p>
                            </div>
                            <div class="col-3"><img src="{{ section.settings.summary_icon_4 | img_url: '50x50' }}"></div>
                            <div class="col-9 small">
                                <strong>Quality Guarantee</strong>
                                <p>If you don't love your order, it's on us.
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{% schema %}
{
    "name": {
        "en": "Subscription Flow CTA"
    },
    "settings": [
        {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
        },
        {
        "type": "color",
        "id": "takeover_1_bg",
        "label": "bg color 1",
        "default": "#ffcac6"
        },
        {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 170
        },
        {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
        },
        {
        "type": "image_picker",
        "id": "threesome_image",
        "label": "Image for make a bundle in Nav"
        },
        {
        "type": "text",
        "id": "intro_text",
        "label": "Section Intro text",
        "default": "MEMBERSHIPS BEGIN AT $16"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Give $20 Get $20"
        },
        {
        "type": "richtext",
        "id": "text",
        "label": "text",
        "default": "<p>Let's get started!</p>"
        },
        {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Send Invite"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "CTA Image"
        },
        {
        "type": "image_picker",
        "id": "col_1_image",
        "label": "column 1 image (inside sub-flow)"
        },
        {
        "type": "richtext",
        "id": "col_1_content",
        "label": "column 1 text"
        },
        {
        "type": "image_picker",
        "id": "col_2_image",
        "label": "column 2 image"
        },
        {
        "type": "richtext",
        "id": "col_2_content",
        "label": "column 2 text"
        },
        {
        "type": "image_picker",
        "id": "col_3_image",
        "label": "column 3 image"
        },
        {
        "type": "richtext",
        "id": "col_3_content",
        "label": "column 3 text"
        },
        {
        "type": "image_picker",
        "id": "col_4_image",
        "label": "column 4 image"
        },
        {
        "type": "richtext",
        "id": "col_4_content",
        "label": "column 4 text"
        },
        {
        "type": "color",
        "id": "takeover_2_bg",
        "label": "bg color 2",
        "default": "#ffcac6"
        },
        {
        "type": "text",
        "id": "selection_header",
        "label": "selection panel header (inside sub-flow)",
        "default": "Don't commit unless you love it."
        },
        {
        "type": "text",
        "id": "selection_subheader",
        "label": "selection panel subheader (inside sub-flow)",
        "default": "Select three free samples to try before your membership kicks in."
        },
        {
        "type": "text",
        "id": "interval_header",
        "label": "interval panel header (inside sub-flow)",
        "default": "Choose a schedule that suits your mood."
        },
        {
        "type": "text",
        "id": "interval_subheader_pre_date",
        "label": "text before ship date",
        "default": "Your first delivery arrives"
        },
        {
        "type": "text",
        "id": "interval_subheader_post_date",
        "label": "text after ship date",
        "default": "(not charged today). You can cancel anytime."
        },
        {
        "type": "text",
        "id": "interval_copy_1",
        "label": "interval 1 copy (under illustration)",
        "default": "I drink tea at least once a day."
        },
        {
        "type": "text",
        "id": "interval_copy_1a",
        "label": "interval 1a copy (under illustration)",
        "default": "3 boxes every"
        },
        {
        "type": "text",
        "id": "interval_copy_1b",
        "label": "interval 1b copy (under illustration)",
        "default": "3 months"
        },
        {
        "type": "text",
        "id": "interval_copy_1c",
        "label": "interval 1c copy (under illustration)",
        "default": "$16/month."
        },
        {
        "type": "text",
        "id": "interval_copy_2",
        "label": "interval 2 copy (under illustration)",
        "default": "I drink tea a few times per week."
        },
        {
        "type": "text",
        "id": "interval_copy_2a",
        "label": "interval 2a copy (under illustration)",
        "default": "3 boxes every"
        },
        {
        "type": "text",
        "id": "interval_copy_2b",
        "label": "interval 2b copy (under illustration)",
        "default": "2 months"
        },
        {
        "type": "text",
        "id": "interval_copy_2c",
        "label": "interval 2c copy (under illustration)",
        "default": "$24/month"
        },
        {
        "type": "text",
        "id": "interval_copy_3",
        "label": "interval 3 copy (under illustration)",
        "default": "I'll need enough for me + company."
        },
        {
        "type": "text",
        "id": "interval_copy_3a",
        "label": "interval 3a copy (under illustration)",
        "default": "3 Boxes every"
        },
        {
        "type": "text",
        "id": "interval_copy_3b",
        "label": "interval 3b copy (under illustration)",
        "default": "1 month"
        },
        {
        "type": "text",
        "id": "interval_copy_3c",
        "label": "interval 3c copy (under illustration)",
        "default": "$48/month"
        },
        {
        "type": "image_picker",
        "id": "interval_img_1",
        "label": "interval 1 image (inside sub-flow)"
        },
        {
        "type": "image_picker",
        "id": "interval_img_2",
        "label": "interval 2 image (inside sub-flow)"
        },
        {
        "type": "image_picker",
        "id": "interval_img_3",
        "label": "interval 3 image (inside sub-flow)"
        },
        {
        "type": "color",
        "id": "takeover_3_bg",
        "label": "bg color 3",
        "default": "#ffcac6"
        },
        {
        "type": "image_picker",
        "id": "summary_image",
        "label": "Image for Summary"
        },
        {
        "type": "image_picker",
        "id": "summary_icon_1",
        "label": "summary icons"
        },
        {
        "type": "text",
        "id": "summary_icon_1_title",
        "label": "summary icon title text 1",
        "default": "Email Reminders"
        },
        {
        "type": "text",
        "id": "summary_icon_1_text",
        "label": "summary icon text 1",
        "default": "We give you enough time to modify or cancel deliveries before each shipment."
        },
        {
        "type": "image_picker",
        "id": "summary_icon_2",
        "label": "summary icons"
        },
        {
        "type": "text",
        "id": "summary_icon_2_title",
        "label": "summary icon title text 2",
        "default": "Quality Guarantee"
        },
        {
        "type": "text",
        "id": "summary_icon_2_text",
        "label": "summary icon text 2",
        "default": "If you don't love your order, it's on us."
        }
        ],
        "presets": [
        {
        "name": "Subscription Flow Start",
        "category": "Custom"
        }
    ]
}
{% endschema %}
