{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner gradient-bg">
  <div class="row">
  <div class="col-12 row-80">
    {{ serction.settings.text }}
  </div>
    <div class="col-sm-4">
      <h3>{{ section.settings.col_1_title }}</h3>\
      <h4 class="text-center">{{ section.settings.col_1_content }}</h4>
    </div>
    <div class="col-sm-4">
      <h3>{{ section.settings.col_2_title }}</h3>
      <h4 class="text-center">{{ section.settings.col_2_content }}</h4>
    </div>
    <div class="col-sm-4">
      <h3>{{ section.settings.col_3_title }}</h3>
      <h4 class="text-center">{{ section.settings.col_3_content }}</h4>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Subscription Flow Info"
  },
  "settings": [
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "Intro Content"
    },
    {
    "type": "text",
    "id": "col_1_title",
    "label": "column 1 title"
    },
    {
    "type": "richtext",
    "id": "col_1_content",
    "label": "column 1 text"
    },
    {
    "type": "text",
    "id": "col_2_title",
    "label": "column 2 title"
    },
    {
    "type": "richtext",
    "id": "col_2_content",
    "label": "column 2 text"
    },
    {
    "type": "text",
    "id": "col_3_title",
    "label": "column 3 title"
    },
    {
    "type": "richtext",
    "id": "col_3_content",
    "label": "column 3 text"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info",
    "category": "Custom"
    }
  ]
}
{% endschema %}
