{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
{% capture logic_script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/async@2.6.1/dist/async.min.js"></script>
<script type="text/javascript">
    $(document).on("cart.requestStarted", function(event, cart) {
        console.log("started");
    });
    $(document).on("cart.ready", function(event, cart) {
        console.log("Cart Ready");
    });
    $(document).on("cart.requestComplete", function(event, cart) {
    });
    var product_text_1 = $("#selected_product_1");
    var product_text_2 = $("#selected_product_2");
    var product_text_3 = $("#selected_product_3");
    var product_id_1 = null;
    var product_id_2 = null;
    var product_id_3 = null;
    var product_full_1 = null;
    var product_full_2 = null;
    var product_full_3 = null;
    var subscriptionInterval = null;
    var id_array = [];
    function checkFull(){
        if(product_id_1 != null && product_id_2 != null && product_id_3 != null){
            $('#bundle-adder-btn').fadeIn(200);
        } else {
            $('#bundle-adder-btn').fadeOut(200);
        }
    }
    function addProduct(id, title, tag){
        console.log(id, title, tag);
        var title = title;
        if ($("#selected_product_1").text() == "" ){
            $("#selected_product_1").text(title);
            product_id_1 = id;
            product_full_1 = tag;
            checkFull();
        } else if ($("#selected_product_2").text() == ""){
            $("#selected_product_2").text(title);
            product_id_2 = id;
            product_full_2 = tag;
            checkFull();
        } else {
            $("#selected_product_3").text(title);
            product_id_3 = id;
            product_full_3 = tag;
            checkFull();
        }
        $("html, body").animate({ scrollTop: $("#bundle_anchor").offset().top -380}, 800);
    };
    function removeProduct(loc){
        if (loc == "1"){
            $("#selected_product_1").text("");
            product_id_1 = null;
            checkFull();
        } else if (loc == "2"){
            $("#selected_product_2").text("");
            product_id_2 = null;
            checkFull();
        } else if (loc == "3"){
            $("#selected_product_3").text("");
            product_id_3 = null;
            checkFull();
        }
    };
    function bundleOverview() {
        id_array = [];
        full_size_array = [];
        if (product_id_1 != undefined && product_id_1 != null){
            id_array.push(product_id_1);
        }
        if (product_id_2 != undefined && product_id_2 != null){
            id_array.push(product_id_2);
        }
        if (product_id_3 != undefined && product_id_3 != null){
            id_array.push(product_id_3);
        }
        if (product_full_1 != undefined && product_full_1 != null){
            full_size_array.push(product_full_1);
        }
        if (product_full_2 != undefined && product_full_2 != null){
            full_size_array.push(product_full_2);
        }
        if (product_full_3 != undefined && product_full_3 != null){
            full_size_array.push(product_full_3);
        }
        console.log('ids:', id_array, 'full-size:', full_size_array);
        if(id_array.length == 3 ){
            var shipping_interval_frequency = "1";
            var shipping_interval_unit_type = "Month";
            var variant_id = "223"
            async.each(id_array, function(id, next){
                function addItemToCart (id, 1, shipping_interval_frequency, shipping_interval_unit_type, subscription_id) {
                data = {
                    "quantity": quantity,
                    "id": variant_id,
                    "properties[shipping_interval_frequency]": shipping_interval_frequency,
                    "properties[shipping_interval_unit_type]": shipping_interval_unit_type,
                    "properties[subscription_id]": subscription_id
                    }
                jQuery.ajax({
                    type: 'POST',
                    url: '/cart/add.js',
                    data: data,
                    dataType: 'json',
                    success: function() {
                        console.log('loop')
                    }
                });
            },
            function(error){
                if (!error){
                    console.log("No Errors (1 of 2)");
                }
            })
        } else {
            alert("Please add more items to your bundle (samples)");
        };
    };
    function selectInterval(interval){
        if (interval == 1 ){
            subscriptionInterval = 1;
            console.log(subscriptionInterval)
        } else if ( interval == 2 ){
            subscriptionInterval = 2;
            console.log(subscriptionInterval)
        } else if (interval == 3 ){
            subscriptionInterval = 3;
            console.log(subscriptionInterval)
        } else {
            alert('Please Select an Interval')
        }
    }
    function nextView(pos){
        if (pos < 3 && pos > 0){
            index = pos + 1;
            $('.takeover_' + pos).fadeOut(0);
            $('.takeover_' + index).fadeIn(300);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            if(pos == 2 ){
                bundleOverview();
            }
        } else {
            return
        }
    }
    function prevView(pos){
        if (pos < 4 && pos > 0){
            index = pos - 1;
            $('.takeover_' + pos).fadeOut(0);
            $('.takeover_' + index).fadeIn(300);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        } else {
            return
        }
    }
    function finalizeSub(){

    }
    var buildOverview = function(cart){
        var domSelector = $('#sub-flow-cart');
        domSelector.html('');
        console.log('cart:', cart);
        console.log('ids:', id_array)
        for (j = 0; j < id_array.length; j ++ ){
            for (i = 0; i < cart.items.length ; i++){
            if ( cart.items[i].id == id_array[j] ){
                item = cart.items[i];
                var str = item.line_price.toString();
                var priceFormatted = '$'+str.substring(0,str.length-2)+"."+str.substring(str.length-2);
                console.log(item);
                domSelector.append(
                    '<div class="row" style="margin: .25em auto;">'+
                    '<div class="col-4 d-flex align-items-center" data-label="{{ "customer.order.product" | t }}">'+
                    '<img src="' + item.image + '" alt="' + item.title + '"/>'+
                    '</div>'+
                    '<div class="col-8 d-flex align-items-center" style="background-color: #f5f5f5; padding: 1em">'+
                    '<div class="row" style="width:100%;">'+
                    '<div class="col-6 d-flex flex-column align-items-start justify-content-between">'+
                    '<p>'+ item.title +'</span></p>'+
                    '<div>'+ priceFormatted + '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                    );
                }
            }
        }
    };
    var subscriptionCart = function(){
        jQuery.getJSON('/cart.js', function(cart) {
            var sbt = cart.total_price.toString();
            var subtotalFormatted ='$'+sbt.substring(0,sbt.length-2)+"."+sbt.substring(sbt.length-2);
            buildOverview(cart);
        } );
    };

</script>

{% endcapture %}




<div class="section-inner d-flex justify-content-center">
    <div class="row ">
        <div class="d-flex flex-column align-items-center justify-content-center text-center">
            <h2>{{ section.settings.title }}</h2>
            {{ section.settings.text }}
            <a id="subscription_start" class="btn" href="#">
            <span>{{ section.settings.cta_text }}</span>
            </a>
        </div>
    </div>
</div>
<div class="takeover takeover_1">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Don't commit unless you love it.</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_1" style="margin-top: 1em;"></h3>
                    <p>Tea One</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_1" onClick="removeProduct('1')">Remove</button>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_2" style="margin-top: 1em;"></h3>
                    <p>Tea Two</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_2" onClick="removeProduct('2')">Remove</button>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_3" style="margin-top: 1em;"></h3>
                    <p>Tea Three</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_3" onClick="removeProduct('3')">Remove</button>
                </div>
            </div>
            <ul class="grid grid--uniform  grid--view-items">
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = "one-half medium-up--one-third" -%}
            {% for product in collections.samples.products %}
                <li class="grid__item grid__item--{{forloop.index}} {{ grid_item_width }}">
                {% include "product-card-grid-samples", max_height: max_height %}
                </li>
            {% endfor %}
            </ul>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="display:none;" class="btn btn-large" type="button" onClick="nextView(1)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_2">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Second Panel</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="interval-selector interval_selector_1" onClick="selectInterval(1)">
                    <h3 id="selected_product_1" style="margin-top: 1em;"></h3>
                    <p>Once a Week</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="interval-selector interval_selector_2" onClick="selectInterval(2)">
                    <h3 id="selected_product_2" style="margin-top: 1em;"></h3>
                    <p>Twice a Day</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="interval-selector interval_selector_2" onClick="selectInterval(3)">
                    <h3 id="selected_product_3" style="margin-top: 1em;"></h3>
                    <p>Thrice</p>
                </a>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="" class="btn btn-large" type="button" onClick="prevView(2)">Go Back</button>
                <button  id="bundle-adder-btn" style="" class="btn btn-large" type="button" onClick="nextView(2)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_3">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Third Panel</h2>
            <h4 class="text-orange text-center">Summary</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_1" style="margin-top: 1em;"></h3>
                    <p>Once a Week</p>
                </div>
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-between">
                    <div id="sub-flow-cart"></div>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="" class="btn btn-large" type="button" onClick="prevView(3)">Go Back</button>
            </div>
        </div>
    </div>
{{ logic_script }}
{{ 'subscription-flow-script.js' | asset_url | script_tag }}
{% schema %}
{
  "name": {
    "en": "Subscription Flow CTA"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Give $20 Get $20"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Let's get started!</p>"
    },
    {
    "type": "text",
    "id": "cta_text",
    "label": "Button Text",
    "default": "Send Invite"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Start",
    "category": "Custom"
    }
  ]
}
{% endschema %}
