{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner bg-yellow">
  <div class="row contained">
  <div class="col-12 row-80 text-center" style="margin-bottom: 2em; padding: 0 4em;">
    <h3>{{ section.settings.text }}</h3>
    <p>{{ section.settings.text_lower }}</p>
  </div>
    <div class="col-md-3 col-6 text-center">
      <img class="info-image-small" src="{{ section.settings.col_1_image | img_url: '300x300' }}">
      <p class="text-center">{{ section.settings.col_1_content }}</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="info-image-small" src="{{ section.settings.col_2_image | img_url: '300x300' }}">
      <p class="text-center text-center">{{ section.settings.col_2_content }}</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="info-image-small" src="{{ section.settings.col_3_image | img_url: '300x300' }}">
      <p class="text-center">{{ section.settings.col_3_content }}</p>
    </div>
    <div class="col-md-3 col-6 text-center">
      <img class="info-image-small" src="{{ section.settings.col_4_image | img_url: '300x300' }}">
      <p class="text-center">{{ section.settings.col_4_content }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Subscription Flow Info 3"
  },
  "settings": [
    {
    "type": "text",
    "id": "text",
    "label": "text"
    },
    {
    "type": "text",
    "id": "text_lower",
    "label": "text lower"
    },
    {
    "type": "image_picker",
    "id": "col_1_image",
    "label": "column 1 image"
    },
    {
    "type": "richtext",
    "id": "col_1_content",
    "label": "column 1 text"
    },
    {
    "type": "image_picker",
    "id": "col_2_image",
    "label": "column 2 image"
    },
    {
    "type": "richtext",
    "id": "col_2_content",
    "label": "column 2 text"
    },
    {
    "type": "image_picker",
    "id": "col_3_image",
    "label": "column 3 image"
    },
    {
    "type": "richtext",
    "id": "col_3_content",
    "label": "column 3 text"
    },
    {
    "type": "image_picker",
    "id": "col_4_image",
    "label": "column 4 image"
    },
    {
    "type": "richtext",
    "id": "col_4_content",
    "label": "column 4 text"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info",
    "category": "Custom"
    }
  ]
}
{% endschema %}
