{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner">
  <div class="row contained">
  <div class="col-12 row-80" style="margin-bottom: 2em; padding: 0 4em;">
    <h2 class="text-center" style="max-width: 550px;
      margin: 0 auto 20px;">{{ section.settings.text }}</h2>
      <p style=" text-align: center; margin: 1em auto 3em; ">{{ section.settings.subtext }}</p>
  </div>
    <div class="row contained smaller">
      <div class="col-md-3 col-6 text-center">
        <img class="info-image" src="{{ section.settings.col_1_image | img_url: '300x300' }}">
        <p class="text-center">{{ section.settings.col_1_content }}</p>
      </div>
      <div class="col-md-3 col-6 text-center">
        <img class="info-image" src="{{ section.settings.col_2_image | img_url: '300x300' }}">
        <p class="text-center text-center">{{ section.settings.col_2_content }}</p>
      </div>
      <div class="col-md-3 col-6 text-center">
        <img class="info-image" src="{{ section.settings.col_3_image | img_url: '300x300' }}">
        <p class="text-center">{{ section.settings.col_3_content }}</p>
      </div>
      <div class="col-md-3 col-6 text-center">
        <img class="info-image" src="{{ section.settings.col_4_image | img_url: '300x300' }}">
        <p class="text-center">{{ section.settings.col_4_content }}</p>
      </div>
    </div>
  </div>
  <div class="row" style="height: 40px;"></div>
</div>

{% schema %}
{
  "name": {
    "en": "Subscription Flow Info"
  },
  "settings": [
    {
    "type": "richtext",
    "id": "text",
    "label": "text"
    },
    {
    "type": "richtext",
    "id": "subtext",
    "label": "subtext",
    "default": "HOW THE MEMBERSHIP WORKS"
    },
    {
    "type": "image_picker",
    "id": "col_1_image",
    "label": "column 1 image"
    },
    {
    "type": "richtext",
    "id": "col_1_content",
    "label": "column 1 text"
    },
    {
    "type": "image_picker",
    "id": "col_2_image",
    "label": "column 2 image"
    },
    {
    "type": "richtext",
    "id": "col_2_content",
    "label": "column 2 text"
    },
    {
    "type": "image_picker",
    "id": "col_3_image",
    "label": "column 3 image"
    },
    {
    "type": "richtext",
    "id": "col_3_content",
    "label": "column 3 text"
    },
    {
    "type": "image_picker",
    "id": "col_4_image",
    "label": "column 4 image"
    },
    {
    "type": "richtext",
    "id": "col_4_content",
    "label": "column 4 text"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info",
    "category": "Custom"
    }
  ]
}
{% endschema %}
