{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
{% capture logic_script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/async@2.6.1/dist/async.min.js"></script>
{% endcapture %}

<div class="section-inner d-flex justify-content-center" style="padding: 0 4em;">
    <div class="d-flex flex-column align-items-start justify-content-center row-90">
        <p>MEMBERSHIPS BEGIN AT $16</p>
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
        <a id="subscription_start" class="btn" href="#">
        <span>{{ section.settings.cta_text }}</span>
        </a>
    </div>
</div>
<div class="takeover takeover_1">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Don't commit unless you love it.</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <ul class="grid grid--uniform  grid--view-items">
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = "one-half medium-up--one-third" -%}
            {% for product in collections.singles.products %}
                <li class="grid__item grid__item--{{forloop.index}} {{ grid_item_width }}">
                {% include "product-card-grid-samples", max_height: max_height %}
                </li>
            {% endfor %}
            </ul>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="display:none;" class="btn btn-large" type="button" onClick="nextView(1)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_2">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(2)">Go Back</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Second Panel</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_1" onClick="selectInterval(1)">
                    <h3 id="selected_product_1" style="margin-top: 1em;">I drink tea at least once a day.</h3>
                    <p>3 boxes / 3 months</p>
                    <p>$16/month</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_2" onClick="selectInterval(2)">
                    <h3 id="selected_product_2" style="margin-top: 1em;">I drink tea a few times per week.</h3>
                    <p>3 boxes / 2 months</p>
                    <p>$24/month</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_3" onClick="selectInterval(3)">
                    <h3 id="selected_product_3" style="margin-top: 1em;">For the whole family.</h3>
                    <p>3 boxes per month</p>
                    <p>$48/month</p>
                </a>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="interval_next" style="display:none;" class="btn btn-large" type="button" onClick="nextView(2)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_3">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(3)">Go Back</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Third Panel</h2>
            <h4 class="text-orange text-center">Summary</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-start">
                    <h3 id="selected_product_1" style="margin-top: 1em;">Image here</h3>
                </div>
                <div class="col-sm-6 d-flex flex-column align-items-left justify-content-between">
                <div class="recap-card">
                    <h2>Ships Today</h2>
                    <div class="sub-details-upper row">
                    <p class="text-blue col-6">Subtotal:</p><p class="text-blue col-6">FREE</p>
                    <p class="text-blue col-6">Shipping:</p><p class="text-blue col-6">$3</p>
                    <p class="text-blue col-6">Total Today:</p><p class="text-blue col-6">$3</p>
                    </div>
                    <div class="col-12 bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                        <button  style="" type="button" onClick="checkoutRedirect()" class="btn btn-large">Checkout</button>
                    </div>
                    <div class="subs-accordion" id="accordion-upper">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="text-blue" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Your sample selection
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-upper">
                            <div class="card-body">
                                <div id="sub-flow-cart-upper"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recap-card">
                    <h2>Ships & Charges in 2 Weeks</h2>
                    <div class="sub-details-lower row">
                    <p class="text-blue col-6">Subtotal:</p><p class="text-blue col-6">$48/3 months</p>
                    <p class="text-blue col-6">Shipping:</p><p class="text-blue col-6"><strike>$3</strike> FREE</p>
                    <p class="text-blue col-6">Total Today:</p><p class="text-blue col-6">$0</p>
                    </div>
                    <div class="subs-accordion" id="accordion-lower">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="text-blue" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Your full size subscription
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-lower">
                            <div class="card-body">
                                <div id="sub-flow-cart-lower"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="review-info">
                        <div class="row d-flex align-items-center justify-content-around">
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <strong>Email Reminders</strong>
                                <p>We give you enough time to modify or cancel deliveries before each shipment.</p>
                            </div>
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <strong>Quality Guarantee</strong>
                                <p>If you don't love your order, it's on us.</p>
                            </div>
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <strong>Email Reminders</strong>
                                <p>We give you enough time to modify or cancel deliveries before each shipment.</p>
                            </div>
                            <div class="col-2">icon</div>
                            <div class="col-10">
                                <strong>Quality Guarantee</strong>
                                <p>If you don't love your order, it's on us.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{{ logic_script }}
<script type="text/javascript">
    var reChargeProcessCart = function () {
        console.log('inside process')
        function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
        do {token=get_cookie('cart');}
        while(token == undefined);
            var myshopify_domain='{{ shop.permanent_domain }}'
        try { var ga_linker = ga.getAll()[0].get('linkerParam') }
        catch(err) { var ga_linker ='' }
        var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
        checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
    }
    var checkoutRedirect = function () {
        async.each(fullSizeArray, function (id, next) {
            console.log('remove these ids:', id)
            CartJS.removeItemById(id, {
            'complete': function () {
            console.log('2 complete!')
            },
            'success': function (data, textStatus, jqXHR) {
            next()
            },
            'error': function (jqhXHR, textStatus, errorThrown) {
            next(errorThrown)
            },
            async: true
        })
        },
        function (error) {
            if (!error) {
            console.log('inside process')
                function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
                do {token=get_cookie('cart');}
                while(token == undefined);
                    var myshopify_domain='{{ shop.permanent_domain }}'
                try { var ga_linker = ga.getAll()[0].get('linkerParam') }
                catch(err) { var ga_linker ='' }
                var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
                checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
                window.location.replace(checkout_url)
                }
            })
        }
</script>

{{ 'subscription-flow-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": {
    "en": "Subscription Flow CTA"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Give $20 Get $20"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Let's get started!</p>"
    },
    {
    "type": "text",
    "id": "cta_text",
    "label": "Button Text",
    "default": "Send Invite"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Start",
    "category": "Custom"
    }
  ]
}
{% endschema %}
