{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
{% capture logic_script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/async@2.6.1/dist/async.min.js"></script>
{% endcapture %}




<div class="section-inner d-flex justify-content-center">
    <div class="row ">
        <div class="d-flex flex-column align-items-center justify-content-center text-center">
            <h2>{{ section.settings.title }}</h2>
            {{ section.settings.text }}
            <a id="subscription_start" class="btn" href="#">
            <span>{{ section.settings.cta_text }}</span>
            </a>
        </div>
    </div>
</div>
<div class="takeover takeover_1">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Don't commit unless you love it.</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_1" style="margin-top: 1em;"></h3>
                    <p>Tea One</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_1" onClick="removeProduct('1')">Remove</button>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_2" style="margin-top: 1em;"></h3>
                    <p>Tea Two</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_2" onClick="removeProduct('2')">Remove</button>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_3" style="margin-top: 1em;"></h3>
                    <p>Tea Three</p>
                    <button class="btn btn-small btn--secondary" type="button" id="remove_3" onClick="removeProduct('3')">Remove</button>
                </div>
            </div>
            <ul class="grid grid--uniform  grid--view-items">
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = "one-half medium-up--one-third" -%}
            {% for product in collections.samples.products %}
                <li class="grid__item grid__item--{{forloop.index}} {{ grid_item_width }}">
                {% include "product-card-grid-samples", max_height: max_height %}
                </li>
            {% endfor %}
            </ul>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="display:none;" class="btn btn-large" type="button" onClick="nextView(1)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_2">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(2)">Go Back</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Second Panel</h2>
            <h4 class="text-orange text-center">Select three tea blends for free</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_1" onClick="selectInterval(1)">
                    <h3 id="selected_product_1" style="margin-top: 1em;">I drink tea at least once a day.</h3>
                    <p>3 boxes / 3 months</p>
                    <p>$16/month</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_2" onClick="selectInterval(2)">
                    <h3 id="selected_product_2" style="margin-top: 1em;">I drink tea a few times per week.</h3>
                    <p>3 boxes / 2 months</p>
                    <p>$24/month</p>
                </a>
                </div>
                <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_3" onClick="selectInterval(3)">
                    <h3 id="selected_product_3" style="margin-top: 1em;">For the whole family.</h3>
                    <p>3 boxes per month</p>
                    <p>$48/month</p>
                </a>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="interval_next" style="display:none;" class="btn btn-large" type="button" onClick="nextView(2)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_3">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer">X close</a>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(3)">Go Back</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-orange text-center">Third Panel</h2>
            <h4 class="text-orange text-center">Summary</h4>
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-between">
                    <h3 id="selected_product_1" style="margin-top: 1em;">REVIEW</h3>
                    <p>Lorem</p>
                </div>
                <div class="col-sm-6 d-flex flex-column align-items-left justify-content-between">
                <div class="recap-card">
                    <h2>Ships Today</h2>
                    <div class="sub-details-upper"></div>
                    <div class="subs-accordion" id="accordion-upper">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Review
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-upper">
                            <div class="card-body">
                                <div id="sub-flow-cart-upper"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recap-card">
                    <h2>Ships & Charges in 2 Weeks</h2>
                    <div class="sub-details-lower"></div>
                    <div class="subs-accordion" id="accordion-lower">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Review
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-lower">
                            <div class="card-body">
                                <div id="sub-flow-cart-lower"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button id="cart-checkout" style="" type="button" onClick="checkoutRedirect()" class="btn btn-large">Checkout</button>
            </div>
        </div>
    </div>
{{ logic_script }}
{{ 'subscription-flow-script.js' | asset_url | script_tag }}
{% schema %}
{
  "name": {
    "en": "Subscription Flow CTA"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Give $20 Get $20"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Let's get started!</p>"
    },
    {
    "type": "text",
    "id": "cta_text",
    "label": "Button Text",
    "default": "Send Invite"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Start",
    "category": "Custom"
    }
  ]
}
{% endschema %}
