{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner d-flex justify-content-center gradient-bg">
  <div class="row ">
    <div class="d-flex flex-column align-items-center justify-content-center text-center">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>{{ section.settings.col_1_title }}</h3>\
      <h4 class="text-center">{{ section.settings.col_1_content }}</h4>
    </div>
    <div class="col-sm-4">
      <h3>{{ section.settings.col_2_title }}</h3>
      <h4 class="text-center">{{ section.settings.col_2_content }}</h4>
    </div>
    <div class="col-sm-4">
      <h3>{{ section.settings.col_3_title }}</h3>
      <h4 class="text-center">{{ section.settings.col_3_content }}</h4>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Subscription Flow Info"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Give $20 Get $20"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Let's get started!</p>"
    },
    {
    "type": "text",
    "id": "col_1_title",
    "label": "column 1 title",
    },
    {
    "type": "richtext",
    "id": "col_1_content",
    "label": "column 1 text",
    },
    {
    "type": "text",
    "id": "col_2_title",
    "label": "column 2 title",
    },
    {
    "type": "richtext",
    "id": "col_2_content",
    "label": "column 2 text",
    },
    {
    "type": "text",
    "id": "col_3_title",
    "label": "column 3 title",
    },
    {
    "type": "richtext",
    "id": "col_3_content",
    "label": "column 3 text",
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info",
    "category": "Custom"
    }
  ]
}
{% endschema %}
