{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
{% capture logic_script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/async@2.6.1/dist/async.min.js"></script>
{% endcapture %}
{% capture header_logo %}
<a href="/" class="logo-image">
    {% if section.settings.logo != blank %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: image_size }}"
    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
    alt="{{ section.settings.logo.alt | default: shop.name }}">
    {% else %}
    {{ shop.name }}
    {% endif %}
</a>
{% endcapture %}
<section>
<div class="section-inner bg-pastel has-bottom-curve" style="">
    <div class="d-flex align-items-center row-90 row">
    <div class="col-sm-6 small-hide">
        <p>MEMBERSHIPS BEGIN AT $16</p>
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
        <a id="subscription_start" class="btn flow-button" href="#">
        <span>{{ section.settings.cta_text }}</span>
        </a>
    </div>
    <div class="col-sm-6 text-center">
    <img src="{{ section.settings.image | img_url: '1000x' }}">
    </div>
    </div>
    {% assign bg_color = "bg-white small-hide" %}
    {% include "curved-svg" %}
    {% assign bg_color = "bg-yellow small-show" %}
    {% include "curved-svg" %}
    <div class="top-nav-box no-bar" style="left: 0">
    <header role="banner" class="header-menus {% if section.settings.header-slider %}has-slider{% endif %}">
    {% include "header-nav" %}
    </header>
</div>
</div>
<section>
<div class="section-inner bg-yellow has-both-curve small-show" style="">

    <div class="d-flex align-items-center row-70 row">
    <div class="col-12 text-center">
        <p>MEMBERSHIPS BEGIN AT $16</p>
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
        <a id="subscription_start_2" class="btn flow-button" href="#">
        <span>{{ section.settings.cta_text }}</span>
        </a>
    </div>
    </div>
    {% assign bg_color = "bg-white small-show" %}
    {% include "curved-svg" %}
</div>
<div class="takeover takeover_1">
    <div class ="d-flex align-items-center justify-content-center  takeover-logo">{{ header_logo }}</div>
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer"><span class="close-icon"></span></a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-blue text-center">Don't commit unless you love it.</h2>
            <p class="text-blue text-center">Select three free samples to try before your membership kicks in.</p>
            <div class="row contained" style="margin-bottom: 4em;">
              <div class="col-12 row-80 text-center" style="padding: 0 4em;">
                <div class="row">
                    <div class="col-md-3 col-6 text-center">
                    <img class="info-image-small" src="{{ section.settings.col_1_image | img_url: '300x300' }}">
                    <p class="text-center">{{ section.settings.col_1_content }}</p>
                    </div>

                    <div class="col-md-3 col-6 text-center">
                    <img class="info-image-small" src="{{ section.settings.col_2_image | img_url: '300x300' }}">
                    <p class="text-center text-center">{{ section.settings.col_2_content }}</p>
                    </div>

                    <div class="col-md-3 col-6 text-center">
                    <img class="info-image-small" src="{{ section.settings.col_3_image | img_url: '300x300' }}">
                    <p class="text-center">{{ section.settings.col_3_content }}</p>
                    </div>

                    <div class="col-md-3 col-6 text-center">
                    <img class="info-image-small" src="{{ section.settings.col_4_image | img_url: '300x300' }}">
                    <p class="text-center">{{ section.settings.col_4_content }}</p>
                    </div>

                </div>
              </div>
            </div>
            <ul class="grid grid--uniform  grid--view-items">
            {%- assign max_height = 345 -%}
            {%- assign grid_item_width = "one-half medium-up--one-third" -%}
            {% for product in collections.singles.products %}
                <li class="grid__item grid__item--{{forloop.index}} {{ grid_item_width }}">
                {% include "product-card-grid-samples", max_height: max_height %}
                </li>
            {% endfor %}
            </ul>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="bundle-adder-btn" style="display:none;" class="btn btn-large flow-button" type="button" onClick="nextView(1)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_2">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer"><span class="close-icon"></span></a>
    <div class ="d-flex align-items-center justify-content-center takeover-logo">{{ header_logo }}</div>
    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(2)">< BACK</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <h2 class="text-blue text-center">Choose a schedule that suits your mood.</h2>
            <p class="text-blue text-center">Your first delivery arrives {{ "now" | date: "%s" | plus: 1209600  | date: "%b %d" }} (not charged today). You can cancel anytime.</p>
            <div id="bundle_anchor" class="row" style="margin: 4em 0 1em;">
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_1" onClick="selectInterval(1)">
                    <h3 id="selected_product_1" style="margin-top: 1em;">I drink tea at least once a day.</h3>
                    <p>3 boxes <span class="refresh-icon"></span> 3 months</p>
                    <p>$16/month</p>
                </a>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_2" onClick="selectInterval(2)">
                    <h3 id="selected_product_2" style="margin-top: 1em;">I drink tea a few times per week.</h3>
                    <p>3 boxes <span class="refresh-icon"></span> 2 months</p>
                    <p>$24/month</p>
                </a>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-between">
                <a href="#" class="product-card flow-card interval-selector interval_selector_3" onClick="selectInterval(3)">
                    <h3 id="selected_product_3" style="margin-top: 1em;">I'll need enough for me + company.</h3>
                    <p>3 boxes <span class="refresh-icon"></span> 1 month</p>
                    <p>$48/month</p>
                </a>
                </div>
            </div>
            </div>
            <div class="col-12 text-center bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                <button  id="interval_next" style="display:none;" class="btn btn-large flow-button" type="button" onClick="nextView(2)">Next</button>
            </div>
        </div>
    </div>
    <div class="takeover takeover_3">
    <a style="float: right; padding: 2em;" href="#" class="takeover_closer"><span class="close-icon"></span></a>
        <div class ="d-flex align-items-center justify-content-center  takeover-logo">{{ header_logo }}</div>

    <a style="float: left; padding: 2em;" href="#" class="" type="" onClick="prevView(3)">< BACK</a>
    <div style="clear: both;" class="row d-flex">
        <div class="col-12">
            <div id="bundle_anchor" class="row" style="margin: 1em 0;">
                <div class="col-sm-6 d-flex flex-column align-items-center justify-content-start small-hide">
                    <img class="summary-img" src="{{ section.settings.summary_image | img_url: '600x' }}">
                </div>
                <div class="col-sm-6 d-flex flex-column align-items-left justify-content-between">
                <div class="recap-card">
                    <h3>Ships Today</h3>
                    <div class="sub-details-upper row">
                    <p class="text-blue col-6">Subtotal:</p><p class="text-blue col-6">FREE</p>
                    <p class="text-blue col-6">Shipping:</p><p class="text-blue col-6">$3</p>
                    <p class="text-blue col-6">Total Today:</p><p class="text-blue col-6">$3</p>
                    </div>
                    <div class="col-12 bundle-complete-btn" style="margin: 0 0 2em; height: 39px;">
                        <button  style="" type="button" onClick="checkoutRedirect()" class="btn flow-button">Checkout</button>
                    </div>
                    <div class="subs-accordion" id="accordion-upper">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="text-blue" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Your sample selection <span class="caret-down-icon"></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-upper">
                            <div class="card-body">
                                <div id="sub-flow-cart-upper"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recap-card">
                    <h3>Ships & Charges in 2 Weeks</h3>
                    <div class="sub-details-lower row">
                    <p class="text-blue col-6">Subtotal:</p><p class="text-blue col-6">$48 <span class="refresh-icon"></span> <span class="interval_target"></span> months</p>
                    <p class="text-blue col-6">Shipping:</p><p class="text-blue col-6"><strike>$3</strike> FREE</p>
                    <p class="text-blue col-6">Total Today:</p><p class="text-blue col-6">$0</p>
                    </div>
                    <div class="subs-accordion" id="accordion-lower">
                        <div class="card-header" id="headingOne">
                            <p class="mb-0">
                                <a class="text-blue" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                Your full size subscription <span class="caret-down-icon"></span>
                                </a>
                            </p>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-lower">
                            <div class="card-body">
                                <div id="sub-flow-cart-lower"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="review-info">
                        <div class="row d-flex align-items-center justify-content-around review-row">
                            <div class="col-2"><img src="{{ section.settings.summary_icon_1 | img_url: '50x50' }}"></div>
                            <div class="col-10">
                                <strong>Email Reminders</strong>
                                <p>We give you enough time to modify or cancel deliveries before each shipment.</p>
                            </div>
                            <div class="col-2"><img src="{{ section.settings.summary_icon_2 | img_url: '50x50' }}"></div>
                            <div class="col-10">
                                <strong>Quality Guarantee</strong>
                                <p>If you don't love your order, it's on us.</p>
                            </div>
                            <div class="col-2"><img src="{{ section.settings.summary_icon_3 | img_url: '50x50' }}"></div>
                            <div class="col-10">
                                <strong>Email Reminders</strong>
                                <p>We give you enough time to modify or cancel deliveries before each shipment.</p>
                            </div>
                            <div class="col-2"><img src="{{ section.settings.summary_icon_4 | img_url: '50x50' }}"></div>
                            <div class="col-10">
                                <strong>Quality Guarantee</strong>
                                <p>If you don't love your order, it's on us.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{{ logic_script }}
<script type="text/javascript">
    var reChargeProcessCart = function () {
        console.log('inside process')
        function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
        do {token=get_cookie('cart');}
        while(token == undefined);
            var myshopify_domain='{{ shop.permanent_domain }}'
        try { var ga_linker = ga.getAll()[0].get('linkerParam') }
        catch(err) { var ga_linker ='' }
        var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
        checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
    }
    var checkoutRedirect = function () {
        async.each(fullSizeArray, function (id, next) {
            console.log('remove these ids:', id)
            CartJS.removeItemById(id, {
            'complete': function () {
            console.log('2 complete!')
            },
            'success': function (data, textStatus, jqXHR) {
            next()
            },
            'error': function (jqhXHR, textStatus, errorThrown) {
            next(errorThrown)
            },
            async: true
        })
        },
        function (error) {
            if (!error) {
            console.log('inside process')
                function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
                do {token=get_cookie('cart');}
                while(token == undefined);
                    var myshopify_domain='{{ shop.permanent_domain }}'
                try { var ga_linker = ga.getAll()[0].get('linkerParam') }
                catch(err) { var ga_linker ='' }
                var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
                checkout_url= "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
                window.location.replace(checkout_url)
                }
            })
        }
</script>

{{ 'subscription-flow-script.js' | asset_url | script_tag }}

{% schema %}
{
    "name": {
        "en": "Subscription Flow CTA"
    },
    "settings": [
        {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
        },
        {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 170
        },
        {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
        },
        {
        "type": "image_picker",
        "id": "threesome_image",
        "label": "Image for make a bundle in Nav"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Give $20 Get $20"
        },
        {
        "type": "richtext",
        "id": "text",
        "label": "text",
        "default": "<p>Let's get started!</p>"
        },
        {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Send Invite"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "CTA Image"
        },
        {
        "type": "image_picker",
        "id": "col_1_image",
        "label": "column 1 image (inside sub-flow)"
        },
        {
        "type": "richtext",
        "id": "col_1_content",
        "label": "column 1 text"
        },
        {
        "type": "image_picker",
        "id": "col_2_image",
        "label": "column 2 image"
        },
        {
        "type": "richtext",
        "id": "col_2_content",
        "label": "column 2 text"
        },
        {
        "type": "image_picker",
        "id": "col_3_image",
        "label": "column 3 image"
        },
        {
        "type": "richtext",
        "id": "col_3_content",
        "label": "column 3 text"
        },
        {
        "type": "image_picker",
        "id": "col_4_image",
        "label": "column 4 image"
        },
        {
        "type": "richtext",
        "id": "col_4_content",
        "label": "column 4 text"
        },
        {
        "type": "image_picker",
        "id": "summary_image",
        "label": "Image for Summary"
        },
        {
        "type": "image_picker",
        "id": "summary_icon_1",
        "label": "summary icons"
        },
        {
        "type": "image_picker",
        "id": "summary_icon_2",
        "label": "summary icons"
        },
        {
        "type": "image_picker",
        "id": "summary_icon_3",
        "label": "summary icons"
        },
        {
        "type": "image_picker",
        "id": "summary_icon_4",
        "label": "summary icons"
        }
        ],
        "presets": [
        {
        "name": "Subscription Flow Start",
        "category": "Custom"
        }
    ]
}
{% endschema %}
