<div class="lower visual-block" style="background-image: url('{{section.settings.content_image | img_url: '2000x2000'}}')">
  <div class="visual-block-inner">
  <div class="row text-left contained">
    <div class="top-box col-sm-6">
      <div class="content-copy">
        <h2 class="">{{section.settings.first_section_header}}</h2>
        {{section.settings.first_section_copy}}
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="password-content-image">
        <!-- <img src="{{ section.settings.content_image | img_url: '1200x1200' }}"> -->
      </div>
    </div>
  </div>
  </div>
</div>
{% if section.settings.content_image_mobile != blank %}
<style>
@media screen and (max-width: 794px ){
  .lower.visual-block{
    background-image: url('{{section.settings.content_image_mobile | img_url: '2000x2000'}}');
  }
}
</style>
{% endif %}
{% schema %}
  {
    "name": {
      "en": "Visual Block",
      "de": "Inhalt",
      "fr": "Contenu",
      "it": "Contenuto",
      "ja": "コンテンツ",
      "es": "Contenido",
      "pt-BR": "Conteúdo"
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "content_image",
        "label": "Content Image"
      },
      {
        "type": "image_picker",
        "id": "content_image_mobile",
        "label": "Content Image (Mobile)"
      },
      {
        "type": "text",
        "label": "First Section Header",
        "id": "first_section_header",
        "default": "Double Dip Our Teas"
      },
      {
        "type": "richtext",
        "label": "First Section Copy",
        "id": "first_section_copy",
        "default": "<p>Most tea bags are filled with leaf residue, but ours are whole leaf. This means better flavour and longer lasting tea - so go ahead, double dip.</p>"
      }
    ]
  }
{% endschema %}
