<script>
    var product_text_1 = $('#selected_product_1');
    var product_text_2 = $('#selected_product_2');
    var product_text_3 = $('#selected_product_3');
    console.log(product_text_1)
</script>

{% capture logic_script %}
<script>
    var product_id_1;
    var product_id_2;
    var product_id_3;
    function addProduct(id, title){
        console.log(id, title, product_text_1);
        var title = title;
        if ($('#selected_product_1').text() == '' ){
            $('#selected_product_1').text(title);
            product_id_1 = id;
        } else if ($('#selected_product_2').text() == ''){
            $('#selected_product_2').text(title);
            product_id_2 = id;
        } else {
            $('#selected_product_3').text(title);
            product_id_3 = id;
        }
    };
    function removeProduct(loc){
        if (loc == '1'){
            $('#selected_product_1').text('');
            product_id_1 = null;
        } else if (loc == '2'){
            $('#selected_product_2').text('');
            product_id_2 = null;
        } else if (loc == '3'){
            $('#selected_product_3').text('');
            product_id_3 = null;
        }
    };
    function bundle() {
        console.log('id 1: ', product_id_1);
        jQuery.post('/cart/add.js', {
        quantity: 1,
        id: product_id_1,
        success: function(){
            bundle1()
        }
        });
    };
    function bundle1(){
        console.log('id 2: ', product_id_2);
        jQuery.post('/cart/add.js', {
        quantity: 1,
        id: product_id_2,
        success: function(){
            bundle2()
        }
        });
    };
    function bundle2(){
        console.log('id 3: ', product_id_3);
        jQuery.post('/cart/add.js', {
        quantity: 1,
        id: product_id_3,
        });
    };
</script>
{% endcapture %}


<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'header-bundles' %}
<div class="contained">
<div class="row text-center" style="margin: 2em 0;">
<div class="col-12 text-center">
<h1>Make It A Threesome</h1>
<p>Select Three Blends for Free Shipping</p>
<h2>$29.95</h2>
<p>60 tea sachets</p>
</div>
    <div class="col-4">
    <h3 id="selected_product_1"></h3>
    <h4>Tea One</h4>
    <a type="button" id="remove_1" onClick="removeProduct('1')">Remove</a>
    </div>
    <div class="col-4">
    <h3 id="selected_product_2"></h3>
    <h4>Tea Two</h4>
    <a type="button" id="remove_2" onClick="removeProduct('2')">Remove</a>
    </div>
    <div class="col-4">
    <h3 id="selected_product_3"></h3>
    <h4>Tea Three</h4>
    <a type="button" id="remove_3" onClick="removeProduct('3')">Remove</a>
    </div>
</div>
<div class="row" style="margin: 2em 0;">
    {% for product in collections.all.products %}
    <div class="col-4" style="margin-bottom: 2em; padding: 1em;">
    <h2>{{product.title}}</h2>
    <p>{{product.id}}</p>
    <a  type="button" class="btn btn-small" onClick="addProduct('{{ product.variants.first.id }}', '{{product.title | escape }}');" id="bundle_adder_{{ product.id }}">Add to Bundle</a>
    </div>
    {% endfor %}
</div>
<a type="button" onClick="bundle()">Add Bundle to Cart</a>
</div>
    {{ logic_script }}
