<script>
    var product_text_1 = $('#selected_product_1');
    var product_text_2 = $('#selected_product_2');
    var product_text_3 = $('#selected_product_3');
    console.log(product_text_1)
</script>

{% capture logic_script %}
<script>
    var product_id_1 = null;
    var product_id_2 = null;
    var product_id_3 = null;
    function addProduct(id, title){
        console.log(id, title, product_text_1);
        var title = title;
        if ($('#selected_product_1').text() == '' ){
       $('#selected_product_1').text(title);
        } else if ($('#selected_product_1').text() == ''){
       $('#selected_product_2').text(title);
        } else {
       $('#selected_product_3').text(title);
        }
    };
    function removeProduct(loc){
        if (loc == '1'){
            $('#selected_product_1').text('');
        } else if (loc == '2'){
            $('#selected_product_2').text('');
        } else if (loc == '3'){
            $('#selected_product_3').text('');
        }
    }
</script>
{% endcapture %}


<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'header-bundles' %}
<div class="container">
<div class="row">
    <div class="col-4">
    <h3 id="selected_product_1"></h3>
    <h4>Product 1</h4>
    <a type="button" id="remove_1" onClick="removeProduct('1')">Remove</a>
    </div>
    <div class="col-4">
    <h3 id="selected_product_2"></h3>
    <h4>Product 2</h4>
    <a type="button" id="remove_2" onClick="removeProduct('2')">Remove</a>
    </div>
    <div class="col-4">
    <h3 id="selected_product_3"></h3>
    <h4>Product 3</h4>
    <a type="button" id="remove_3" onClick="removeProduct('3')">Remove</a>
    </div>
</div>
<div class="row">
    {% for product in collections.all.products %}
    <div class="col-4">
    <p>{{product.title}}-{{product.id}}</p>
    <a  type="button" class="btn btn-small" onClick="addProduct('{{product.id}}', '{{product.title}}');" id="bundle_adder_{{ product.id }}">Add to Bundle</a>
    </div>
    {{ logic_script }}
    {% endfor %}
</div>
</div>
