<script>
    var product_text_1 = $('#selected_product_1');
    var product_text_2 = $('#selected_product_2');
    var product_text_3 = $('#selected_product_3');
    console.log(product_text_1)
</script>

{% capture logic_script %}
<script>
    var product_id_1 = null;
    var product_id_2 = null;
    var product_id_3 = null;
    $('#bundle_adder_{{product.id}}').click(function(){
        if (product_text_1 != null ){
            product_text_1.text('{{product.id}}');
        } else if (product_text_2 != null){
            product_text_2.text('{{product.id}}');
        } else {
            product_text_3.text('{{product.id}}');
        }
    });
</script>
{% endcapture %}


<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'header-bundles' %}
<div class="row">
    <div class="col-4">
    <h3 id="selected_product_1"></h3>
    <h4>Porduct 1</h4>
    </div>
    <div class="col-4">
    <h3 id="selected_product_2"></h3>
    <h4>Porduct 2</h4>
    </div>
    <div class="col-4">
    <h3 id="selected_product_3"></h3>
    <h4>Porduct 3</h4>
    </div>
</div>
<div class="row">
    {% for product in collections.all.products %}
    <div class="col-4">
    <p>{{product.title}}-{{product.id}}</p>
    <button id="bundle_adder_{{ product.id }}">Add to Bundle</button>
    </div>
    {{ logic_script }}
    {% endfor %}
</div>

